<% paragraphs = 6 %>

<%= link_to 'Components', styleguide_components_path %>

<div class="container">
  <h1>Sample content</h1>

  <% paragraphs.times do |i| %>
    <h2>Paragraph <%= i+1 %></h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt iure, hic facere nemo animi nulla fugiat esse. Nesciunt suscipit repudiandae, laudantium, tempora accusamus molestiae illo debitis illum, quisquam eum optio! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt iure, hic facere nemo animi nulla fugiat esse. Nesciunt suscipit repudiandae, laudantium, tempora accusamus molestiae illo debitis illum, quisquam eum optio!
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt iure, hic facere nemo animi nulla fugiat esse. Nesciunt suscipit repudiandae, laudantium, tempora accusamus molestiae illo debitis illum, quisquam eum optio! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt iure, hic facere nemo animi nulla fugiat esse. Nesciunt suscipit repudiandae, laudantium, tempora accusamus molestiae illo debitis illum, quisquam eum optio! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt iure, hic facere nemo animi nulla fugiat esse. Nesciunt suscipit repudiandae, laudantium, tempora accusamus molestiae illo debitis illum, quisquam eum optio!
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt iure, hic facere nemo animi nulla fugiat esse. Nesciunt suscipit repudiandae, laudantium, tempora accusamus molestiae illo debitis illum, quisquam eum optio! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt iure, hic facere nemo animi nulla fugiat esse. Nesciunt suscipit repudiandae, laudantium, tempora accusamus molestiae illo debitis illum, quisquam eum optio!
    </p>
  <% end %>
</div>
