<div class="masonry-loading-spinner"><div class="spinner"></div></div>
<div class="scrapbooks-container">
  <%= render partial: 'shared/pagination', locals: {items: scrapbooks} %>
  <div id="scrapbooks" class="masonry-grid">
    <% scrapbooks.each do |scrapbook| %>
      <%= render partial: 'scrapbooks/scrapbook_cover', locals: {presenter: scrapbook} %>
    <% end %>
  </div>
  <%= render partial: 'shared/pagination', locals: {items: scrapbooks} %>
</div>
<script type="text/javascript">
  $(".masonry-loading-spinner .spinner").spin();
</script>

