<div class="masonry-loading-spinner"><div class="spinner"></div></div>
<div class="scrapbooks-container">
  <%= render partial: 'shared/pagination', locals: {items: presenter.paginated_scrapbooks} %>
  <div id="scrapbooks" class="masonry-grid">
    <% presenter.paginated_scrapbook_covers.each do |scrapbook_cover| %>
      <%= render partial: 'scrapbooks/scrapbook_cover', locals: {scrapbook_cover: scrapbook_cover, show_path: show_path} %>
    <% end %>
  </div>
  <%= render partial: 'shared/pagination', locals: {items: presenter.paginated_scrapbooks} %>
</div>
<script type="text/javascript">
  $(".masonry-loading-spinner .spinner").spin();
</script>

