<% if current_user %>
  <% current_user.scrapbooks.sort{|a,b| b.updated_at<=>a.updated_at}.each do |scrapbook| %>
    <div class="scrapbook" data-id="<%= scrapbook.id %>">
      <div class="picture">
        <% if scrapbook.memories.any? %>
          <%= image_tag cache_busted_url(scrapbook.cover.main_memory, :mini_thumb) %>
        <% else %>
          <p>&nbsp;</p>
        <% end %>
      </div>
      <div class="details">
        <div class="title"><%= scrapbook.title %></div>
        <div class="count"><%= pluralize(scrapbook.cover.memory_count, 'memory') %></div>
      </div>
    </div>
  <% end %>
<% end %>

