<div class="container">
  <div id="grid">
    <header id="contentHeader" class="clearfix">
      <h1>Browsing all scrapbooks</h1>
      <span class="actions">
        <%= link_to 'Browse Memories', memories_path %>
      </span>
    </header>

    <div class="masonry-loading-spinner"><div class="spinner"></div></div>
    <div id="scrapbooks" class="masonry-grid">
      <% @scrapbooks.each do |scrapbook| %>
        <%= render partial: 'scrapbooks/scrapbook', locals: {scrapbook: scrapbook, link_path: scrapbook_path(scrapbook)} %>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: 'memories/create_scrapbook' %>

<script type="text/javascript">
  var createScrapbookController = new CreateScrapbookController(function (e, data, status, xhr) {
    window.location = '/my/scrapbooks/' + data.id
  });
  $(".masonry-loading-spinner .spinner").spin();
</script>
