<div class="container">
  <div id="grid">
    <header id="contentHeader" class="clearfix">
      <h1><span>Browsing</span> All scrapbooks</h1>
      <div class="actions clearfix">
       Viewing all:
        <%= link_to 'Memories', memories_path, :class => "button memories inactive"   %>
        <span class="button scrapbooks coral">Scrapbooks</span>

       <%= link_to 'Create a scrapbook', new_my_memory_path, :class => "button navy float-right" %>

      </div>
    </header>

    <%= render partial: 'scrapbooks/index', locals: {scrapbooks: @scrapbooks} %>
  </div>
</div>

<%= render partial: 'memories/create_scrapbook' %>

<script type="text/javascript">
  var createScrapbookController = new CreateScrapbookController(function (e, data, status, xhr) {
    window.location = '/scrapbooks/' + data.id
  });
</script>
