<div class="container-fluid">
  <div class="row">
    <ul class="nav nav-pills">
      <li><%= link_to 'Memories', memories_path %></li>
      <li class="active"><%= link_to 'Scrapbooks', scrapbooks_path %></li>
    </ul>
    <div class="scrapbooks">
      <%= render @scrapbooks %>
    </div>
  </div>
</div>
