<div id="scrapbook" class="container">
  <%= render 'scrapbooks/scrapbook',
        scrapbook: @scrapbook,
        memories: @memories,
        list_button_name: 'All scrapbooks',
        list_button_path: scrapbooks_path %>
</div>
