<div class="container profile memories">
  <div id="grid">
    <header id="contentHeader" class="clearfix">
      <h2>Found <%= pluralize(@memories.total_count, 'match') %> for "<%= params[:query] %>"</h2>
    </header>

    <% if @memories.empty? -%>
      <p class="no-results">Sorry, but we couldn't find any results for "<%= params[:query] %>"</p>
    <% else -%>
      <%= render partial: 'memories/index', locals: {memories: @memories} %>
    <% end -%>
  </div>
</div>
