<div class="container">
  <header id="formHeader" class="row">
  </header>

  <div class="formWrapper row home-page__edit-form">
    <div id="formPanel" class="col-xs-12">
      <h1 class="form-title">Edit home page</h1>

      <%= form_for [:admin, :cms, @home_page] do |form| %>
        <%= render 'shared/image_editor', form: form,
                                          image_url: @home_page.hero_image_url,
                                          display_class: 'hero',
                                          width: 1140,
                                          height: 525 %>

        <div class="form-group">
          <div class="actions col-xs-sm-12">
            <%= form.submit "Save changes", class: "button green" %>
            <%= link_to "Cancel", admin_cms_home_page_path(@home_page), class: "button cancel" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
