<div class="container profile memories">
  <div id="grid">
    <header id="contentHeader" class="clearfix">
      <h2>Found <%= pluralize(@memories.total_count, 'match') %> for "<%= params[:query] %>"</h2>
    </header>

    <%= render partial: 'memories/index', locals: {memories: @memories, root_path: memories_path} %>
  </div>
</div>
