<h3>Text Elements</h3>

<h1>Header 1</h1>
<h2>Header 2</h2>
<h3>Header 3</h3>

<p>
  Deep v tattooed meh Williamsburg fanny pack freegan. Cliche fap mumblecore, Banksy Cosby sweater small batch pug literally letterpress fashion axe Neutra art party. Disrupt Brooklyn Intelligentsia High Life, master cleanse asymmetrical tofu retro Godard sustainable polaroid. Brooklyn disrupt Banksy Carles Williamsburg scenester. Food truck disrupt leggings, Williamsburg synth pickled Vice. Occupy readymade paleo pork belly, jean shorts roof party seitan cray. Locavore High Life twee, yr disrupt Cosby sweater lomo flexitarian.
</p>


<h3>Links and buttons</h3>

<div class="styles">
  <a href="#">Standard link</a>
</div>

<div class="styles">
  <a class="btn btn-primary" href="/my/memories">call to action link button</a>
  <a class="btn btn-default" href="/my/memories">standard link button</a>
</div>

<div class="styles">
  <input class="btn btn-primary" disabled="disabled" name="commit" type="submit" value="disabled call to action button" />
  <input class="btn btn-primary" name="commit" type="submit" value="enabled call to action button" />
  <input class="btn btn-default" disabled="disabled" name="commit" type="submit" value="disabled standard button" />
  <input class="btn btn-default" name="commit" type="submit" value="enabled standard button" />
</div>