<% if current_user.try(:can_modify?, featurable) && featurable.featured? %>
  <div class="featured-notice highlight-links">
    Congratulations! We’ve put your <%= featurable_name %> on the Edinburgh Collected
    <%= link_to 'home page', root_path %>.
    If you’d like to edit or delete this <%= featurable_name %>, please
    <%= link_to 'contact us', "mailto:#{CONTACT_EMAIL}" %>.
  </div>
<% end %>
