<% if current_user.try(:can_modify?, moderatable) && show_state? && !moderatable.approved? %>
  <div class="state <%= moderatable.moderation_state %>">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <%= state_label(moderatable) %>
  </div>
<% end -%>

