<div id="homeContent" class="container">

  <div id="contentModules" class="row">
   <div class="col-md-4">
    <div class="module">
     <h2>Content block</h2>
     <p>TBC</p>
    </div>
   </div>
   <div class="col-md-4">
    <div class="module">
     <h2>Content block</h2>
     <p>TBC</p>
    </div>
   </div>
   <div class="col-md-4">
    <div class="module">
     <h2>Content block</h2>
     <p>TBC</p>
    </div>
   </div>
   </div>

  <div id="featuredScrapbook" class="row">
    <div class="col-md-3">
      <h2>Featured Scrapbook</h2>
      <h3><a href="http://edinburgh-stories.herokuapp.com/scrapbooks/2">Reminiscence resources for schools</a></h3>
      <p>The City of Edinburgh Council's Information Learning Resource Service provide 'handling boxes' for use by schools and other learning organisations.</p>

      <a href="http://edinburgh-stories.herokuapp.com/scrapbooks/2" class="btn btn-primary">View this Scrapbook</a>
    </div>

    <div id="scrapbookImages" class="col-md-9">

     <div class="masonry">
       <a href="http://edinburgh-stories.herokuapp.com/memories/74">
          <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/74/image.jpg" />
       </a>
     </div>

     <div class="masonry">
       <a href="http://edinburgh-stories.herokuapp.com/memories/83">
         <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/83/image.jpg" />
       </a>
     </div>

     <div class="masonry">
       <a href="http://edinburgh-stories.herokuapp.com/memories/82">
         <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/82/image.jpg" />
       </a>
     </div>

     <div class="masonry">
       <a href="http://edinburgh-stories.herokuapp.com/scrapbooks/81">
         <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/81/image.jpg" />
       </a>
     </div>

     <div class="masonry">
       <a href="http://edinburgh-stories.herokuapp.com/memories/78">
         <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/78/image.jpg" />
       </a>
     </div>
     <div class="masonry">
       <a href="http://edinburgh-stories.herokuapp.com/memories/77">
         <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/77/image.jpg" />
       </a>
     </div>

     <div class="masonry">
       <a href="http://edinburgh-stories.herokuapp.com/memories/72">
         <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/72/image.jpg" />
       </a>
     </div>

    </div>

  </div>


  </div>
