<div id="homeContent" class="container">

  <div id="contentModules" class="row">
   <div id="featuredMemory" class="col-md-4">
    <div class="module" style="text-align: center;">
     <a href="memories/148" style="display: block; height: 253px;">
     <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/148/01224aae-660a-403b-bb32-665c21cf8122.jpg?1416004841" /></a>
     <h3>Jazz Festival Parade</h3>
     <p>Princes Street, West End, 1987</p>
      <a href="memories" class="btn btn-primary">Browse more memories</a>
    </div>
   </div>

   <div id="joinES" class="col-md-4">
    <div class="module">
     <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/53/4bbc72c7-6716-4a2f-823d-780c76dd4bf9.png?1416004936" />
     <h3>Join and add your memories of Edinburgh</h2>
      <a href="signup" class="btn btn-primary">Sign up for an account</a>
      <p><a href="signin">Or sign in if you already have an account</a></p>
    </div>
   </div>

   <div id="siteDescription" class="col-md-4">
    <div class="module">
     <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/140/339b5d7f-806c-4aff-84f7-b2fa95538137.png?1416005097" />
     <h1 style="text-align: center;">Edinburgh Scrapbooks is a new website from Edinburgh Libraries which allows users to upload, collect and share their memories of Edinburgh</h1>
    </div>
   </div>
   </div>

  <div id="featuredScrapbook" class="row">
    <div class="col-md-3">
      <h2>Featured Scrapbook</h2>
      <h3><a href="http://edinburgh-stories.herokuapp.com/scrapbooks/2">Reminiscence resources for schools</a></h3>
      <p>The City of Edinburgh Council's Information Learning Resource Service provide 'handling boxes' for use by schools and other learning organisations.</p>

      <a href="http://edinburgh-stories.herokuapp.com/scrapbooks/2" class="btn btn-primary">View this Scrapbook</a>
    </div>

    <div class="masonry-loading-spinner col-md-9"><div class="spinner"></div></div>
    <div class="scrapbooks-container">
      <div id="scrapbookImages" class="col-md-9">
        <div class="masonry">
           <a href="http://edinburgh-stories.herokuapp.com/memories/74">
             <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/74/31752ca0-e7a9-410b-b25a-64eaa1973cd9.jpg?1416004952" />
           </a>
        </div>

        <div class="masonry">
          <a href="http://edinburgh-stories.herokuapp.com/memories/83">
            <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/83/b780b679-5628-4d78-85d9-58328be94857.jpg?1416004932" />
          </a>
        </div>

        <div class="masonry">
          <a href="http://edinburgh-stories.herokuapp.com/memories/82">
            <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/82/8968e798-c497-48c9-8ae6-07effc9fa6b3.jpg?1416005358" />
          </a>
        </div>

        <div class="masonry">
          <a href="http://edinburgh-stories.herokuapp.com/memories/81">
            <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/81/fa4c105e-5bed-415b-8af9-6a126ebdf667.jpg?1416004927" />
          </a>
        </div>

        <div class="masonry">
          <a href="http://edinburgh-stories.herokuapp.com/memories/78">
            <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/78/5ad39664-2add-4972-be3e-29c13a9ebcd8.jpg?1416005344" />
          </a>
        </div>

        <div class="masonry">
          <a href="http://edinburgh-stories.herokuapp.com/memories/77">
            <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/77/0ae78196-1de2-4cd2-8405-75bb05bc7c6d.jpg?1416005349" />
          </a>
        </div>

        <div class="masonry">
          <a href="http://edinburgh-stories.herokuapp.com/memories/72">
            <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/72/6f4ed78e-c0ad-4adb-81a9-785d2bc14188.jpg?1416004923" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(".masonry-loading-spinner .spinner").spin();
</script>
