<div id="homeContent" class="container">

  <div id="contentModules" class="row">
   <div id="featuredMemory" class="col-md-4">
    <div class="module">
     <a href="memories/148">
     <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/148/jazzfestival87003.jpg?1415703347" /></a>
     <h3>Portobello Beach</h3>
     <p>Portobello Beach, Portobello, 1900</p>
      <a href="memories" class="btn btn-primary">Browse more memories</a>
    </div>
   </div>

   <div id="joinES" class="col-md-4">
    <div class="module">
     <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/53/media.php" />
     <h2>Join and add your Edinburgh memories</h2>
      <a href="signup" class="btn btn-primary">Sign up for an account</a>
      <p><a href="signin">Or sign in if you already have an account</a></p>
    </div>
   </div>

   <div id="siteDescription" class="col-md-4">
    <div class="module">
     <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/140/26835The_Olympic_Rings_looking_towards_Edinburgh_Castle_and_Ramsay_Gardens.png" />
     <h1>Edinburgh Scrapbooks is a new website from Edinburgh Libraries which allows users to upload, collect and share their memories of Edinburgh</h1>
    </div>
   </div>
   </div>

  <div id="featuredScrapbook" class="row">
    <div class="col-md-3">
      <h2>Featured Scrapbook</h2>
      <h3><a href="http://edinburgh-stories.herokuapp.com/scrapbooks/2">Reminiscence resources for schools</a></h3>
      <p>The City of Edinburgh Council's Information Learning Resource Service provide 'handling boxes' for use by schools and other learning organisations.</p>

      <a href="http://edinburgh-stories.herokuapp.com/scrapbooks/2" class="btn btn-primary">View this Scrapbook</a>
    </div>

    <div class="masonry-loading-spinner col-md-9"><div class="spinner"></div></div>
    <div id="scrapbookImages" class="col-md-9">
      <div class="masonry">
         <a href="http://edinburgh-stories.herokuapp.com/memories/74">
           <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/74/image.jpg" />
         </a>
      </div>

      <div class="masonry">
        <a href="http://edinburgh-stories.herokuapp.com/memories/83">
          <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/83/image.jpg" />
        </a>
      </div>

      <div class="masonry">
        <a href="http://edinburgh-stories.herokuapp.com/memories/82">
          <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/82/image.jpg" />
        </a>
      </div>

      <div class="masonry">
        <a href="http://edinburgh-stories.herokuapp.com/scrapbooks/81">
          <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/81/image.jpg" />
        </a>
      </div>

      <div class="masonry">
        <a href="http://edinburgh-stories.herokuapp.com/memories/78">
          <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/78/image.jpg" />
        </a>
      </div>

      <div class="masonry">
        <a href="http://edinburgh-stories.herokuapp.com/memories/77">
          <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/77/image.jpg" />
        </a>
      </div>

      <div class="masonry">
        <a href="http://edinburgh-stories.herokuapp.com/memories/72">
          <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/72/image.jpg" />
        </a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(".masonry-loading-spinner .spinner").spin();
</script>
