<div id="homeContent" class="container">

  <div id="contentModules" class="row">

   <div id="siteDescription" class="col-md-4">
    <div class="module">
     <%= image_tag 'Pod-1-Newton-Street-Coronation-Party-Edinburgh.jpg', alt: "Newton Street Coronation Party, Edinburgh" %>
     <h1>Create history...</h1>
     <p>Join Edinburgh Collected to add and share your memories of Edinburgh</p>
      <a href="signup" class="button teal">Get started</a>
    </div>
   </div>

   <div id="featuredMemory" class="col-md-4">
    <div class="module">
     <%= image_tag 'Pod-2-Olympic-Torch-on-George-IV-Bridge.jpg', alt: "Olympic Torch on George IV Bridge" %>
     <h3>Olympic Torch on George IV Bridge</h3>
     <p>Crowds line the street to watch the Olympic torch passing.</p>
      <a href="memories" class="button blue">Browse more memories</a>
    </div>
   </div>

   <div id="joinES" class="col-md-4">
    <div class="module">
     <%= image_tag 'Pod-3-Granny-dancing.jpg', alt: "Granny Dancing" %>
     <h3>Featured memory</h2>
      <p>This is a photo of my granny who was a very good Highland dancer and won a lot of medals. The man in the photo is her uncle who played the fiddle.</p>       <a href="memories/213" class="button blue">View featured memory</a>

   </div>
   </div>

  </div>

  <div id="featuredScrapbook" class="row">
    <div class="col-md-3">
      <h2>Scrapbooks</h2>
      <p>Create a scrapbook and share your memories of Edinburgh</p>
      <br>
      <h3>Featured scrapbook</h3>
      <p>James Thomson & Sons Ltd., Licensed Grocer & Victualler</p>

      <a href="http://edinburgh-stories.herokuapp.com/scrapbooks/2" class="btn btn-primary">View this Scrapbook</a>
    </div>

    <div class="masonry-loading-spinner col-md-9"><div class="spinner"></div></div>
    <div class="scrapbooks-container">
      <div id="scrapbookImages" class="col-md-9">
        <div class="masonry">
           <a href="http://edinburgh-stories.herokuapp.com/memories/74">
             <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/74/31752ca0-e7a9-410b-b25a-64eaa1973cd9.jpg?1416004952" />
           </a>
        </div>

        <div class="masonry">
          <a href="http://edinburgh-stories.herokuapp.com/memories/83">
            <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/83/b780b679-5628-4d78-85d9-58328be94857.jpg?1416004932" />
          </a>
        </div>

        <div class="masonry">
          <a href="http://edinburgh-stories.herokuapp.com/memories/82">
            <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/82/8968e798-c497-48c9-8ae6-07effc9fa6b3.jpg?1416005358" />
          </a>
        </div>

        <div class="masonry">
          <a href="http://edinburgh-stories.herokuapp.com/memories/81">
            <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/81/fa4c105e-5bed-415b-8af9-6a126ebdf667.jpg?1416004927" />
          </a>
        </div>

        <div class="masonry">
          <a href="http://edinburgh-stories.herokuapp.com/memories/78">
            <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/78/5ad39664-2add-4972-be3e-29c13a9ebcd8.jpg?1416005344" />
          </a>
        </div>

        <div class="masonry">
          <a href="http://edinburgh-stories.herokuapp.com/memories/77">
            <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/77/0ae78196-1de2-4cd2-8405-75bb05bc7c6d.jpg?1416005349" />
          </a>
        </div>

        <div class="masonry">
          <a href="http://edinburgh-stories.herokuapp.com/memories/72">
            <img src="http://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.r89.cf3.rackcdn.com//uploads/memory/source/72/6f4ed78e-c0ad-4adb-81a9-785d2bc14188.jpg?1416004923" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(".masonry-loading-spinner .spinner").spin();
</script>
