<div id="homeContent" class="container">
 <h1>A strapline about how this is YOUR library of photos, videos and other digital content of Edinburgh</h1>
  <div class="row">
    <div id="carousel" class="col-md-12">
      <%= image_tag "carousel-ph.png" %>
    </div>
  </div>

  <div id="contentModules" class="row">
   <div class="col-md-4">
    <div class="module">
     <h2>Content block</h2>
     <p>TBC</p>
    </div>
   </div>
   <div class="col-md-4">
    <div class="module">
     <h2>Content block</h2>
     <p>TBC</p>
    </div>
   </div>
   <div class="col-md-4">
    <div class="module">
     <h2>Content block</h2>
     <p>TBC</p>
    </div>
   </div>

  </div>

</div>
