<div id="homeContent" class="container">

  <div id="contentModules" class="row">
   <div class="col-md-4">
    <div class="module">
     <h2>Content block</h2>
     <p>TBC</p>
    </div>
   </div>
   <div class="col-md-4">
    <div class="module">
     <h2>Content block</h2>
     <p>TBC</p>
    </div>
   </div>
   <div class="col-md-4">
    <div class="module">
     <h2>Content block</h2>
     <p>TBC</p>
    </div>
   </div>
   </div>

  <div class="row">
    <div id="carousel" class="col-md-12">
     <div class="module" style="height:300px;">
       <h1>Featured Scrapbook</h1>
     </div>
    </div>
  </div>


  </div>
