<div id="homeContent" class="container">

  <div id="heroImage">
    <div id="cta">
      <h1>Share your memories and make history</h1>

      <div class="buttons">
        <a href="signup" class="button green">Get started</a>
        <a href="memories" class="button blue">Browse memories</a>
      </div>
    </div>

    <figure class="tint">
      <%= image_tag ENV['HOME_HERO_IMG'] %>
    </figure>

    <div id="imageInfo">
      <p>Leith Academy sponsored walk in Queen's Park</p>
      <p><small><strong>1984</strong> added by <a href="https://edinburghcollected.org/users/57/memories">TheLibrarian</a></small></p>
    </div>
  </div>

  <h2 id="descriptionText">Edinburgh Collected is a community archive of Edinburgh memories</h2>

  <div id="featuredScrapbook" class="container">
    <header>
      <h3>Save your favourite memories in a scrapbook</h3>
    </header>

    <div id="images" class="clearfix">
      <div class="spinner"></div>
      <div class="inner clearfix initial">
        <a class="item" href="//edinburghcollected.org/memories/385" title="View memory details">
          <img src="https://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.ssl.cf3.rackcdn.com//uploads/memory/source/385/thumb_2a85f362-e418-4bc0-967c-3b96cbb0886c.png", alt="Focus on Guiding Event, 1977" />
        </a>

        <a class="item" href="//edinburghcollected.org/memories/379" title="View memory details">
          <img src="https://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.ssl.cf3.rackcdn.com//uploads/memory/source/379/0500426f-119a-4356-9848-e4af0e3e86d5.png", alt="The Music Hall at the Assembly Rooms" />
        </a>

        <a class="item" href="//edinburghcollected.org/memories/384" title="View memory details">
          <img src="https://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.ssl.cf3.rackcdn.com//uploads/memory/source/384/bdbbe0c5-afd8-4c90-8c08-6a58c9cecb00.png", alt="Dinner dances at the Assembly Rooms" />
        </a>

        <a class="item" href="//edinburghcollected.org/memories/386" title="View memory details">
          <img src="https://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.ssl.cf3.rackcdn.com//uploads/memory/source/386/8dbd963e-1c6a-44b7-918e-4eac2f5bb694.JPG", alt="May I have this dance?!" />
        </a>
      </div>
    </div>

    <footer class="container">
      <div class="col-md-8">
        <strong>Assembly Rooms Memories</strong><br>
        A scrapbook by <em><a href="https://www.edinburghcollected.org/users/92/scrapbooks">Assembly Rooms Edinburgh</a></em>
      </div>

      <div class="col-md-4">
        <a href="https://edinburghcollected.org/scrapbooks/<%= ENV['HOME_FEATURED_SCRAPBOOK_ID'] %>" class="button teal view-scrapbook">View scrapbook</a>
      </div>
    </footer>
  </div>
</div>

<script type="text/javascript">
  $(".spinner").spin();

  var $imageContainer = $('#images .inner')

  $imageContainer.on('didFinishSettingHeights', function () {
    $(".spinner").spin(false);
    $(this).removeClass('initial');
  });

  $imageContainer.waitForImages(function () {
    var minHeight = 210,
        maxHeight = 310,
        justified = new Justified(this, minHeight, maxHeight);

    $(window).on('resize', function (e) { justified.setHeight() });

    justified.setHeight();
  });
</script>
