<div id="homeContent" class="container">

  <div id="heroImage">
    <div id="cta">
      <h1>Share your memories and make history</h1>

      <div class="buttons">
        <a href="signup" class="button green">Get started</a>
        <a href="memories" class="button blue">Browse memories</a>
      </div>
    </div>

    <figure class="tint">
      <%= image_tag "photos/wombles.jpg" %>
    </figure>

    <div id="imageInfo">
      <p>Underground, Overground, Wombling Free</p>
      <p><small><strong>1982</strong> added by <a href="#">TheLibrarian</a></small></p>
    </div>
  </div>

  <h2 id="descriptionText">Edinburgh Collected is a community archive of Edinburgh memories</h2>

  <div id="featuredScrapbook" class="container">
    <header>
      <h3>Featured scrapbook</h3>
      <h4>Save your favourite memories in a scrapbook</h4>
    </header>

    <div id="images" class="clearfix">
      <div class="spinner"></div>
      <div class="inner clearfix initial">
        <a class="item" href="//edinburghcollected.org/memories/183" title="View memory details">
          <img src="https://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.ssl.cf3.rackcdn.com//uploads/memory/source/183/cb460fee-946f-4d0c-9c42-be6ddf4fc502.jpeg?1423076395", alt="James Thomson & Son Ltd Flour Bag" />
        </a>

        <a class="item" href="//edinburghcollected.org/memories/184" title="View memory details">
          <img src="https://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.ssl.cf3.rackcdn.com//uploads/memory/source/184/6082cd5f-ac17-41c7-b90b-dcee35ca62f9.jpeg?1423124496", alt="James Thomson & Son Ltd Shortbread Mixture" />
        </a>

        <a class="item" href="//edinburghcollected.org/memories/182" title="View memory details">
          <img src="https://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.ssl.cf3.rackcdn.com//uploads/memory/source/182/98bb17ae-7280-4752-a76d-c06cb4cd2c75.jpeg?1423076388", alt="Charlie Taylor (owner of James Thomson & Sons Ltd) winning a TV" />
        </a>

        <a class="item" href="//edinburghcollected.org/memories/181" title="View memory details">
          <img src="https://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.ssl.cf3.rackcdn.com//uploads/memory/source/181/c3e8c265-a06e-43e2-91ad-2d70ddeb5f40.JPG?1423124490", alt="James Thomson & Son Ltd before it closed down in 1971" />
        </a>

        <!--a class="item" href="//edinburghcollected.org/memories/180" title="View memory details">
          <img src="https://4019eac0904bfa4d1cb5-9a025cf9f86362160bae9a5684264911.ssl.cf3.rackcdn.com//uploads/memory/source/180/8c5dc5a2-12ad-4548-8713-4ac812ea93ea.jpg?1423076398", alt="James Thomson & Son Ltd pre 1905 before the King's Theatre was built" />
        </a-->
      </div>
    </div>

    <footer class="container">
      <div class="col-md-8">
        James Thomson & Sons Ltd., Licensed Grocer & Victualler<br>
        by TheLibrarian
      </div>

      <div class="col-md-4">
        <a href="#" class="button teal">View scrapbook</a>
      </div>
    </footer>
  </div>
</div>

<script type="text/javascript">
  $(".spinner").spin();

  var $imageContainer = $('#images .inner')

  $imageContainer.on('didFinishSettingHeights', function () {
    $(".spinner").spin(false);
    $(this).removeClass('initial');
  });

  $imageContainer.waitForImages(function () {
    var minHeight = 210,
        maxHeight = 310,
        justified = new Justified(this, minHeight, maxHeight);

    $(window).on('resize', function (e) { justified.setHeight() });

    justified.setHeight();
  });
</script>
