common: &common
  adapter: postgresql
  encoding: unicode
  host: localhost

development:
  <<: *common
  database: <development db name here>

test:
  <<: *common
  database: <test db name here>

production:
  <<: *common
  database: <production db name here>
