.delete-account__check
  display: table
  margin-bottom: 1em
  text-align: left

.delete-account__check-box, .delete-account__check-label
  display: table-cell

.delete-account__check-box
  margin-right: 5px !important
