<p>By using this site you are agreeing to the terms and conditions.</p>

<section>
  <h3>In brief</h3>
  <ul>
    <li>To add memories or make scrapbooks you will need to sign up for an account.</li>
    <li>You can browse, share and comment on content without signing up for an Edinburgh Collected account.</li>
    <li>To comment on content you will need a separate <a class="underlined" href="https://disqus.com" target="blank">Disqus</a> account.</li>
    <li>Of your personal details, only your username will be visible to others on the site.</li>
    <li>New content added to the site will be checked before it is published, once checked it is publicly visible.</li>
    <li>By adding content to the site you are agreeing to its non-commercial re-use.</li>
  </ul>

  <p>Read the full terms and conditions below.</p>
</section>


<section>
  <h3 id="toc">Table of Contents</h3>
  <nav>
    <ol>
      <li><a href="#browsing">Browsing</a></li>
      <li><a href="#account">Your account</a></li>
      <li><a href="#groups">Groups</a></li>
      <li><a href="#children">Advice for children</a></li>
      <li><a href="#conduct">User conduct</a></li>
      <li><a href="#moderation">Moderation</a></li>
      <li><a href="#report">Report concern</a></li>
      <li><a href="#comments">Comments</a></li>
      <li><a href="#links">External links</a></li>
      <li><a href="#ip">Intellectual property</a></li>
      <li><a href="#disclaimer">Disclaimer</a></li>
      <li><a href="#changes">Changes to these terms</a></li>
    </ol>
  </nav>
</section>


<section>
  <h3 id="browsing">Browsing</h3>

  <p>You can browse the site without signing up for an account.</p>

  <a href="#toc">Table of contents</a>
</section>


<section>
  <h3 id="account">Your account</h3>

  <p>
    To add memories or make scrapbooks you will need to sign up for an account.  You must provide accurate, current and complete information about yourself and undertake to keep this information up to date. You’re required to supply your name, email address and a username.  This information will be stored securely.  Only your username will appear on the website.
  </p>

  <p>
    You must keep your user account information safe and confidential as you will be responsible for all activities that occur under your account.
  </p>

  <p>
    We will only ask for information necessary for you to register on this system and will only use it to contact you about Edinburgh Collected or other Edinburgh Libraries’ services.
  </p>

  <p>
    Please be aware that uploading all types of content (e.g. images) will use the data allowance for your device when using 3G or 4G.
  </p>

  <a href="#toc">Table of contents</a>
</section>


<section>
  <h3 id="groups">Groups</h3>

  <p>
    Groups, e.g. local history societies and community groups, can sign up for a group account.  A member of the group will be responsible for giving permission to other users to add material for the group.  The group administrator will be responsible for giving and withdrawing access.
  </p>

  <a href="#toc">Table of contents</a>
</section>


<section>
  <h3 id="children">Advice for children</h3>

  <p>
    Parents and guardians who wish to allow their children to use Edinburgh Collected should assist them in setting up accounts and supervise their access.
  </p>

  <a href="#toc">Table of contents</a>
</section>


<section>
  <h3 id="conduct">User conduct</h3>

  <p>
    You are responsible for all content you add to the site.  By signing up for an account you agree not to add content that:
  </p>

  <ul>
    <li>infringes any laws e.g. copyright or privacy laws,</li>
    <li>is obscene, threatening, violent, abusive, harmful to others, invasive of another’s privacy, hateful, harassing, discriminatory or otherwise objectionable</li>
    <li>is spam, advertising or commercial messages (the exception is commercial photographers who may wish to add content in the spirit of the site who can link to their websites but not include commercial messages in their user profiles)</li>
    <li>disrupts or impairs the normal operation of the site.</li>
  </ul>

  <a href="#toc">Table of contents</a>
</section>


<section>
  <h3 id="moderation">Moderation</h3>

  <p>
    All new content added to the site is checked (moderated).  We aim to check content as soon as possible after it is added.
  </p>

  <p>
    Unsuitable content (see <a class="underlined" href="#conduct">User Conduct</a>) will not be published to the site and the user notified.
  </p>

  <p>Low risk content may be published without checks.</p>

  <p>
    The site adminstrator can block account holders who add unsuitable content from using the site.  The user will be contacted if their account is blocked.
  </p>

  <a href="#toc">Table of contents</a>
</section>


<section>
  <h3 id="report">Report concern</h3>

  <p>
    Signed in users can report concerns about any content on the site through the ‘Report concern’ feature.  Reported content will flagged for review by the site administrators. If it is found to be unsuitable, it will be removed from the site and the owner notified.  The owner will be notified if content is permanently removed.
  </p>

  <a href="#toc">Table of contents</a>
</section>


<section>
  <h3 id="comments">Comments</h3>

  <p>
    Users can add comments related to their and other users’ memories.  The site uses <a class="underlined" href="https://disqus.com" target="blank">Disqus</a> for comments.  Users must sign up for an account on Disqus to leave a comment.  Users will also be able to report concerns through Disqus.
  </p>

  <a href="#toc">Table of contents</a>
</section>


<section>
  <h3 id="links">External links</h3>

  <p>
    Edinburgh Collected provides links to external websites.  Listing of sites and links to them should not be taken as an endorsement of any kind. We do not accept responsibility for the content or reliability of the linked websites, nor do we accept any liability for their accuracy or content.  If you come across any external links that do not work, please contact <a href="mailto:<%= CONTACT_EMAIL%>" title="contact us"><%= CONTACT_EMAIL%></a>
  </p>


  <a href="#toc">Table of contents</a>
</section>


<section>
  <h3 id="ip">Intellectual property</h3>

  <p>By adding memories, account holders are agreeing that they own this content and/or have permission to use it.</p>

  <p>
    <a class="underlined" href="https://www.gov.uk/government/organisations/intellectual-property-office" target="blank">Find out more about Intellectual Property</a>.
  </p>

  <p>
    The City of Edinburgh Council claims no ownership or rights over material added, this remains with the account holder who can delete their content and account at any time.  By submitting content, account holders are agreeing to
    <a class="underlined" href="http://creativecommons.org/licenses/by-nc-sa/4.0" target="blank">the Creative Commons licence of Attribution-Non-commercial-Sharealike</a>.
  </p>

  <p>
    You are agreeing that content added can be reused for personal, educational and non-commercial purposes. The following examples of potential uses are by way of illustration, it is not a complete list:
  </p>

  <ul>
    <li>Printing of content.</li>
    <li>Downloading of content.</li>
    <li>Reuse by the City of Edinburgh Council to promote its heritage collections.</li>
    <li>
      Addition to Edinburgh Libraries’ online channels
      <a class="underlined" href="http://www.capitalcollections.org.uk" target="blank">www.capitalcollections.org.uk</a> or
      <a class="underlined" href="http://www.ourtownstories.co.uk" target="blank">www.ourtownstories.co.uk</a>
      or any future online channel developed by Edinburgh Libraries.
    </li>
    <li>Reuse by other online channels e.g. local history website, social media channels.</li>
    <li>Reuse by others to create new non-commercial digital products.</li>
  </ul>

  <p>
    If you believe that any material on Edinburgh Collected infringes the IP of any other person, please contact
    <a href="mailto:<%= CONTACT_EMAIL%>" title="contact us"><%= CONTACT_EMAIL%></a>
  </p>


  <a href="#toc">Table of contents</a>
</section>


<section>
  <h3 id="disclaimer">Disclaimer</h3>

  <p>
    Edinburgh Libraries makes every effort to ensure the accuracy of the information on this website, but cannot accept responsibility for any errors or omissions.
  </p>

  <p>
    City of Edinburgh Council (CEC) will undertake to provide secure storage for all the content added.  You will however be responsible for making and keeping copies of any materials that you add to Edinburgh Collected.
  </p>

  <p>
    CEC will not be held responsible for any loss, damage, or inconvenience arising in any way whatsoever from the use of this website.
  </p>

  <p>
    CEC will not be liable if for any reason Edinburgh Collected is unavailable.
  </p>

  <a href="#toc">Table of contents</a>
</section>


<section>
  <h3 id="changes">Changes to these terms</h3>

  <p>
    The City of Edinburgh Council may update these "Terms and conditions" in the future for various reasons, including the addition of new features and in response to changes in relevant legislation.
  </p>

  <a href="#toc">Table of contents</a>
</section>
