<section>
  <h3 id="top">Table of Contents</h3>
  <nav>
    <ol>
      <li><a href="#terms">Terms of Use</a></li>
      <li><a href="#groups">Groups</a></li>
      <li><a href="#moderation">Moderation</a></li>
      <li><a href="#comments">Comments</a></li>
      <li><a href="#links">External Links</a></li>
      <li><a href="#ip">Intellectual Property (IP)</a></li>
      <li><a href="#disclaimer">Disclaimer</a></li>
    </ol>
  </nav>
</section>

<section>
  <h3 id="terms">Terms of Use</h3>

  <p>By using this site you are agreeing to the terms of use.</p>

  <p>All users can view published content on the website without registering.</p>

  <p>
    If you want to add content you must register to create an acount, providing accurate, current and complete information about yourself and undertake to keep this information up to date. The information you will be required to supply is your name, email and your user name.  Only your user name will appear on the website.
  </p>

  <p>
    It is your responsibility to keep your user account information safe and confidential.
  </p>

  <p>
    We will only request information necessary for you to register on this system and will only use it to contact you about Edinburgh Collected or other Edinburgh Libraries’  services.
  </p>

  <p>
    Be aware that uploading all types of content eg images will use the data allowance for your device when using 3G or 4G.
  </p>

  <a href="#top">Back to top</a>
</section>

<section>
  <h3 id="groups">Groups</h3>

  <p>
    Groups e.g. local history societies and community groups can sign up for a group account. A member of the group will be responsible for giving permission to other users to add material for the group. The group administrator will be responsible for giving and withdrawing access.
  </p>


  <a href="#top">Back to top</a>
</section>

<section>
  <h3 id="moderation">Moderation</h3>

  <p>
    All new content added to the site is moderated.  We aim to moderate content as soon as possible after addition, material will be moderated Monday – Friday.
  </p>

  <p>
    Unsuitable content will not be published to the site and the user notified.  Low risk content may be published without moderation.  (Moderation is under development this section will be updated as new features are implemented)
  </p>

  <a href="#top">Back to top</a>
</section>

<section>
  <h3 id="comments">Comments (Feature expected early 2015)</h3>

  <p>
    Registered users can add comments related to their and other users’ memories.  Comments are not moderated but users will be able to report inappropriate content.
  </p>

  <a href="#top">Back to top</a>
</section>

<section>
  <h3 id="links">External Links</h3>

  <p>
    Edinburgh Collected provides links to external websites. Listing of sites and links to them should not be taken as an endorsement of any kind.
    We do not accept responsibility for the contents or reliability of the linked web sites nor do we accept any liability for their accuracy or content.
    If you come across any external links that do not work, please contact
    <a href="mailto:informationdigital@edinburgh.gov.uk" title="Contact us">informationdigital@edinburgh.gov.uk</a>
  </p>

  <a href="#top">Back to top</a>
</section>

<section>
  <h3 id="ip">Intellectual Property (IP)</h3>

  <p>
    Find out more about IP
    <a href="https://www.gov.uk/government/organisations/intellectual-property-office">https://www.gov.uk/government/organisations/intellectual-property-office</a>
  </p>

  <p>
    By adding content account holders are agreeing that they own this content and/or  have permission to use it.
  </p>

  <p>
    The City of Edinburgh Council claims no ownership or rights over material added, this remains with the account holder who can delete content at any time.  By submitting content account holders are agreeing to the Creative Commons licence of Attribution-Non-commercial-Sharealike.  Find out <a title="Creative Commons License" href="http://creativecommons.org/licenses/by-nc-sa/4.0">more</a>
  </p>

  <p>
    You are agreeing that content added can be used for personal, educational and non commercial purposes. The following examples of potential uses is by way of illustration, it is not a complete list.
  </p>

  <ul>
    <li>Printing of content</li>
    <li>Downloading of content</li>
    <li>Reuse by the City of Edinburgh Council to promote its heritage collections</li>
    <li>
      Addition to Edinburgh Libraries’ online channels <a href="http://www.capitalcollections.org.uk" title="Capital Collections">www.capitalcollections.org.uk</a>
      or <a href="http://www.ourtownstories.co.uk" title="Our Town Stories">www.ourtownstories.co.uk</a> or any future online channel developed by Edinburgh Libraries.
    </li>
    <li>Reuse by other online channels eg local history website, social media channels</li>
    <li>Reuse by others to create new non-commercial digital products</li>
  </ul>

  <p>
    If you believe that any material on Edinburgh Collected infringes the IP of any other person contact
    <a href="mailto:informationdigital@edinburgh.gov.uk" title="Contact us">informationdigital@edinburgh.gov.uk</a>
  </p>

  <a href="#top">Back to top</a>
</section>

<section>
  <h3 id="disclaimer">Disclaimer</h3>

  <p>
    Edinburgh Libraries makes every effort to ensure the accuracy of the information on this website but cannot accept responsibility for any errors or omissions.
  </p>

  <p>
    CEC will undertake to provide secure storage for all the content added, you will however be responsible for making and keeping copies of any materials which you add to Edinburgh Collected.
  </p>

  <p>
    CEC will not be held responsible for any loss, damage, or inconvenience arising in any way whatsoever from the use of this website.
  </p>

  <p>
    CEC will not be liable if for any reason Edinburgh Collected is unavailable.
  </p>

  <p>
    Terms and Conditions will be updated as more features are added to Edinburgh Collected.
  </p>

  <a href="#top">Back to top</a>
</section>
