<div class="container">
  <div id="aboutPage" class="row static">
    <div id="staticText" class="col-md-6">
      <h1>About</h1>

      <p>Make history for now and the future!</p>

      <p>Edinburgh Collected is a place to share, explore and discuss your memories of Edinburgh.</p>

      <p>Everyone can browse, or you can sign up to:</p>

      <ul>
        <li>upload your own memories</li>
        <li>save your favourite memories in a scrapbook</li>
      </ul>

      <p>Edinburgh Collected is managed and maintained by Edinburgh Libraries, part of the City of Edinburgh Council (CEC).</p>

      <p>
        All the material added will expand the City’s digital heritage collections, adding to the material held in the Central Library, already the most extensive collection about Edinburgh in existence.
      </p>

      <p>
        Find out more about Edinburgh Collected’s <a href="t_and_c">terms and conditions</a>.
      </p>
    </div>

    <div id="staticOther" class="col-md-6">
      <%= image_tag "photos/edinburgh-collected-girl-scooter-sindy.jpg", alt: "#{APP_NAME} - Beta" %>
    </div>
  </div>
</div>
