<div class="container">
  <div id="contactPage" class="row static">
    <div id="staticText" class="col-md-6">
      <h1>Contact <%= APP_NAME %></h1>

      <section>
        <p><strong>By email</strong>:</p>
        <p>
          <a href="mailto:<%= CONTACT_EMAIL%>" title="email address">
            <%= CONTACT_EMAIL%>
          </a>
        </p>
      </section>

      <section>
        <p><strong>By phone</strong>:</p>
        <p>0131 242 8033</p>
      </section>

      <section>
        <p><strong>Or write to</strong>:</p>
        <p>
          Information Digital Team<br/>
          Central Library<br/>
          George IV Bridge<br/>
          Edinburgh<br/>
          EH1 1EG
        </p>
      </section>
    </div>
    <div id="staticOther" class="col-md-6">
    </div>
  </div>
</div>
