<div id="contact" class="container static">
  <div class="row">
    <h1>How to contact Edinburgh Collected</h1>

    <h2>Email us at</h2>

    <a href="mailto:<%= ENV['CONTACT_EMAIL']%>" title="email address">
      <%= ENV['CONTACT_EMAIL']%>
    </a>

    <h2>Phone us on</h2>

    <p>0131 242 8033</p>

    <h2>Write to us at</h2>

    <p>
      Information Digital Team
    </p>
    <p>
      Central Library
    </p>
    <p>
      George IV Bridge
    </p>
    <p>
      Edinburgh
    </p>
    <p>
      EH1 1EG
    </p>
  </div>
</div>
