<div id="contact" class="container static">
  <div class="row">
    <h1>Contact Edinburgh Collected</h1>

    <h2>By email</h2>
    <p>
      <a href="mailto:<%= ENV['CONTACT_EMAIL']%>" title="email address">
        <%= ENV['CONTACT_EMAIL']%>
      </a>
    </p>

    <h2>By phone</h2>
    <p>0131 242 8033</p>

    <h2>Or write to</h2>
    <p>
      Information Digital Team
    </p>
    <p>
      Central Library
    </p>
    <p>
      George IV Bridge
    </p>
    <p>
      Edinburgh
    </p>
    <p>
      EH1 1EG
    </p>
  </div>
</div>
