<div id="p_and_c" class="container static">
  <div class="row">
    <h1>Privacy and Cookies <strong>DRAFT</strong></h1>

    <h2>Our aims</h2>

    <p>
      The Council takes your privacy seriously. We always aim to follow the guidance
      provided by the
      <a title="The Scottish Information Commissioner" href="http://www.itspublicknowledge.info/YourRights/YourRights.asp">
        Information Commissioner</a>, and to comply with our
      <a title="Council privacy information" href="http://www.edinburgh.gov.uk/info/20032/foi_and_data_protection/572/your_privacy">
        general privacy policy</a>.
    </p>

    <p>
      When you submit a comment to this site any personal data only appears in relation
      to your content and is not re-used for any purpose by the Council.
    </p>

    <h3>Cookies</h3>

    <p>
      The web site does store cookies on your computer, but these do not contain personal data
      or anything that could identify you to others.
    </p>

    <p>
      In line with our
      <a title="The Councils Records policy" href="http://www.edinburgh.gov.uk/info/704/access_to_information/390/records_policy">
        Records policy</a>, we aim to archive or delete data from our systems when it's no longer
      actively useful for providing the relevant service to you.
    </p>
  </div>
</div>

