<div id="t_and_c" class="container">
  <div id="tandcPage" class="row static">
    <div id="staticText" class="col-md-8">
      <h1>Terms and Conditions <strong>DRAFT</strong></h1>
      <%= render partial: 't_and_c_text' %>
    </div>
  </div>
</div>

