<div id="t_and_c" class="container">
  <div class="row">
    <h1 id="top">Terms and Conditions <strong>DRAFT</strong></h1>

    <h2>Table of Contents</h2>
    <nav>
      <ul>
        <li><a href="#about">About Edinburgh Scrapbooks</a></li>
        <li><a href="#terms">Terms of Use</a></li>
        <li><a href="#groups">Groups</a></li>
        <li><a href="#moderation">Moderation</a></li>
        <li><a href="#comments">Comments</a></li>
        <li><a href="#links">External Links</a></li>
        <li><a href="#ip">Intellectual Property (IP)</a></li>
        <li><a href="#disclaimer">Disclaimer</a></li>
      </ul>
    </nav>


    <h2 id="about">About Edinburgh Scrapbooks</h2>

    <p>
      Edinburgh scrapbooks is managed and maintained by Edinburgh Libraries, part of the City of Edinburgh Council (CEC) for everyone who wants to collect, preserve and access material related to family and community heritage to share with current and future generations.
    </p>

    <ul>
      <li>You can collect and share material online related to life in the city of Edinburgh from the past, present and for the future</li>
      <li>Upload a range of content including images ( audio and documents from early 2015)</li>
      <li>Manage and personalise your content, gather it into scrapbooks to create and edit your own stories</li>
    </ul>

    <a href="#top">Back to top</a>


    <h2 id="terms">Terms of Use</h2>

    <p>By using this site you are agreeing to the terms of use.</p>

    <p>All users can view published content on the website.</p>

    <p>
      If you want to add content you must register to create an acount, providing accurate, current and complete information aboutyourself and undertake to keep this information up to date. The information you will be required to supply is your name, email and your user name.  Only your user name will appear on the website.
    </p>

    <p>It is your responsibility to keep your user account information safe and confidential.</p>

    <p>
      We will only request information necessary for you to register on this system and will only use it to contact you about Edinburgh Scrapbooks or other library online services.
    </p>

    <p>Be aware that uploading all types of content eg images will use the data allowance for your device when using 3G or 4G.</p>

    <a href="#top">Back to top</a>


    <h2 id="groups">Groups</h2>

    <p>
      Groups eg local history societies and community groups can have a  group account.  A member of the group will be an administrator who will give permission for other users to add material to a group area.  The group adminstrator will be responsible for giving and withdrawing access.
    </p>

    <a href="#top">Back to top</a>


    <h2 id="moderation">Moderation</h2>

    <p>
      All new content added to the site is moderated, if content is unsuitable it will not be published to the site and the user notified.  In some instances low risk content may be published whilst awaiting moderation.  (Moderation is under development this section will be updated as new features are implemented)
    </p>

    <a href="#top">Back to top</a>


    <h2 id="comments">Comments (Feature expected in December 2014)</h2>

    <p>Registered users can add comments related to content.</p>

    <a href="#top">Back to top</a>


    <h2 id="links">External Links</h2>

    <p>
      Edinburgh Scrapbooks provides links to external websites. Listing of sites and links to them should not be taken as an endorsement of any kind. We do not accept responsibility for the contents or reliability of the linked web sites nor do we accept any liability for their accuracy or content. If you come across any external links that do not work, please contact informationdigital@edinburgh.gov.uk 
    </p>

    <a href="#top">Back to top</a>


    <h2 id="ip">Intellectual Property (IP)</h2>

    <p>
      Find out more about IP <a href="https://www.gov.uk/government/organisations/intellectual-property-office">https://www.gov.uk/government/organisations/intellectual-property-office</a>
    </p>

    <p>By adding content account holders are agreeing that they own this content and/or have permission to use it.</p>

    <p>
      The City of Edinburgh Council claims no ownership or rights over material added, this remains with the account holder who can delete content at any time.  By submitting content account holders are agreeing that it can be used for personal, educational and non commercial purposes. The following examples of potential uses is by way of illustration, it is not a complete list.
    </p>

    <ul>
      <li>Printing of content</li>
      <li>Downloading of content</li>
      <li>Re-use by the City of Edinburgh Council to promote its heritage collections</li>
      <li>Addition of content to www.capitalcollections.org.uk or www.ourtownstories.co.uk or any future online channel developed by Edinburgh Libraries</li>
      <li>Reuse by other online channels eg local history website, social media channels</li>
      <li>Reuse by others to create new non-commercial digital products</li>
    </ul>
     
    <p>If you believe that any material on Edinburgh Scrapbooks infringes the IP of any other person contact informationdigital@edinburgh.gov.uk</p>

    <a href="#top">Back to top</a>


    <h2 id="disclaimer">Disclaimer</h2>

    <p>
      Edinburgh Libraries makes every effort to ensure the accuracy of the information on this website but cannot accept responsibility for any errors or omissions.
    </p>

    <p>
      CEC will undertake to provide secure storage for all the content added, you will however be responsible for making and keeping copies of any materials which you add to Edinburgh Scrapbooks.
    </p>

    <p>CEC will not be held responsible for any loss, damage, or inconvenience arising in any way whatsoever from the use of this website.</p>

    <p>CEC will not be liable if for any reason Edinburgh Scrapbooks is unavailable.</p>

    <p>Terms and Conditions will be updated as more features are added to Edinburgh Scrapbooks.</p>

    <a href="#top">Back to top</a>
  </div>
</div>
