<li class="desktop">
  <%= link_to_unless(current_page.first?, raw(t 'views.pagination.first'), url, :remote => remote) do |name| %>
    <span class="disabled"><%= name %></span>
  <% end %>
</li>
<li class="mobile">
  <%= link_to_unless(current_page.first?, raw(t 'views.pagination.mobile.first'), url, :remote => remote) do |name| %>
    <span class="disabled"><%= name %></span>
  <% end %>
</li>