<p>Hi <%= @user.screen_name %>,</p>

<p>You have successfully activated your Edinburgh Stories account.</p>

<p>You can sign in by visiting <%= link_to @url, @url %> in your browser.</p>

<p>Thanks,</p>

<p>The Edinburgh Stories Team</p>
