<p><%= t 'greeting', name: @user.screen_name %></p>

<p>
  Please activate your account by visiting <%= link_to @url, @url %> in your browser.
</p>

<p><%= t 'thanks' %></p>

<p><%= t 'sign_off', app_name: APP_NAME %></p>
