<p>Hello <%= @user.screen_name %>,</p>

<p>
  You have requested to reset your password. To choose a new password, just follow this link:
  <%= link_to @url, @url %>
</p>

<p>Thanks, The Edinburgh Stories Team</p>
