<p><%= t 'greeting', name: @user.screen_name %></p>

<p>
  You have requested to reset your password. To choose a new password, just follow this link:
  <%= link_to @url, @url %>
</p>

<p><%= t 'thanks' %></p>

<p><%= t 'sign_off', app_name: APP_NAME %></p>
