<div class="container">
  <div class="row">
    <h1>Moderation Inbox</h1>

    <h2>Memories</h2>
    <ul>
      <li><%= link_to "Unmoderated (#{Memory.unmoderated.count})", admin_moderation_memories_path %></li>
      <li><%= link_to "Moderated", moderated_admin_moderation_memories_path %></li>
    </ul>

    <h2>Scrapbooks</h2>
    <ul>
      <li><%= link_to "Unmoderated (#{Scrapbook.unmoderated.count})", admin_moderation_scrapbooks_path %></li>
      <li><%= link_to "Moderated", moderated_admin_moderation_scrapbooks_path %></li>
    </ul>
  </div>
</div>
