%h1 My Assets

.row
  .col-6.col-sm-6.col-lg-4
    %p
      %a.add-asset.btn.btn-default.glyphicon.glyphicon-plus(href="/assets/new" role="button")

  .assets
    - @assets.each do |asset|
      .asset.col-6.col-sm-6.col-lg-4
        %h2.title= asset.title
        %p.img
          %img{src: "/assets/#{asset.url}", alt: asset.alt}
        %p
          %a.details.btn.btn-default(href="#" role="button") View details &raquo;
