.container-fluid
  .row
    .assets
      - @assets.each do |asset|
        %a.asset.thumb(data-id="#{asset.id}" href="#{asset_url(asset.id)}" title="View details" role="button")
          %div.img
            %img{src: "#{asset.source_url(:thumb).to_s}", alt: asset.title}
          %div.footer
            %p.title= asset.title
