.container-fluid
  .row
    .col-xs-12#add-asset
      %a.btn.btn-primary(href="/assets/new" role="button") Add New
  .row
    .assets
      - @assets.each do |asset|
        .asset.thumb(data-id="#{asset.id}")
          %div.img
            %a{href: asset_url(asset.id), role: "button"}
              %img{src: "#{asset.thumb}", alt: asset.title}
          %div.footer
            %p.title= asset.title
