.col-xs-1
.col-xs-10
  .jumbotron
    %form#add-asset.form-horizontal(action="/assets" method="POST" enctype="multipart/form-data" role="form")
      .form-group
        .col-xs-4
          %label(for="file") Please select a file
        .col-xs-8
          %input(type="file" name="file")
      .form-group
        .col-xs-4
          %label(for="asset[title]") Title
        .col-xs-8
          %input.form-control(type="text" name="asset[title]")
      .form-group
        %input.btn.btn-primary(type="submit" value="Add Asset")
  .col-xs-1

