.col-xs-1
.col-xs-10
  .jumbotron
    =form_tag('/assets', multipart: true, id: "add-asset", class: "form-horizontal", role: "form") do
      .form-group
        .col-xs-4
          = label_tag "asset[file]", "Please select a file"
        .col-xs-8
          = file_field_tag "asset[file]"
      .form-group
        .col-xs-4
          %label(for="asset[title]") Title
        .col-xs-8
          %input.form-control(type="text" name="asset[title]")
      .form-group
        %input.btn.btn-primary(type="submit" value="Add Asset")
  .col-xs-1

