/* ==================================== SCRAPBOOKS */

#scrapbook

  #description
    text-align: center
    font-style: italic
    font-size: 1.5em
    padding: 0 0 1em 0

  .masonry-grid .masonry
    width: 33.33%

  #share-links
    padding-bottom: 1em
    border-bottom: 1px solid $navy-blue
    margin: 1em 0 0 0


#add-memories-modal
  .modal-header, .modal-footer
    border: none
