<div class="modal fade" id="after-add-to-scrapbook-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Added memory to scrapbook</h4>
      </div>
      <div class="modal-body">
        <p>The selected memory has been added to scrapbook "<span class="scrapbook-name"></span>"</p>
        <p>You can continue to add memories or have a look at your scrapbook.</p>
      </div>
      <div class="modal-footer">
        <div class="actions">
          <a href="#" class="button memories float-right" data-dismiss="modal">Continue adding</a>
          <a href="#" class="view-scrapbook button scrapbooks float-right">View scrapbook</a>
        </div>
      </div>
    </div>
  </div>
</div>

