<div class="modal fade" id="create-scrapbook-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for Scrapbook.new, url: my_scrapbooks_path, remote: true, html: {class: 'form-horizontal', id: 'create-scrapbook'} do |f| %>
        <div class="modal-header">
          <h4 class="modal-title">Create a new scrapbook</h4>
        </div>
        <div class="modal-body">
          <div id="errors"></div>
          <%= render partial: 'my/scrapbooks/form_details', locals: {form: f} %>
        </div>
        <div class="modal-footer">
          <button id="cancel-create-scrapbook" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button class="save btn btn-primary">Create scrapbook</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    var formValid = false;

    window.formValidator = new FormValidator();
    window.formValidator.labelMaxLength($('form#create-scrapbook'));
  })
</script>
