<div id="image-editor-wrapper" class="form-group">
  <div class="col-sm-4"></div>
  <div class="col-sm-8">
    <%= form.hidden_field :rotation %>
    <div id="image-editor">
      <div class="controls">
        <a class="rotate" id="rotate-left">
          <%= image_tag 'rotate_ac.png' %>
        </a>
        <a class="rotate" id="rotate-right">
          <%= image_tag 'rotate_c.png' %>
        </a>
      </div>
    </div>
  </div>
</div>
