<div class="container memories">
  <div id="grid">
    <header id="contentHeader" class="clearfix">
      <h1>All memories</h1>

      <div class="actions clearfix">
       <div class="viewingInfo clearfix">
         <strong>Browse</strong>
         <span class="button memories">Memories</span>
         <%= link_to 'Scrapbooks', scrapbooks_path, :class => "button scrapbooks inactive" %>
       </div>

       <%= link_to 'Add a memory', add_memory_my_memories_path, :class => "button memories float-right" %>
      </div>

    </header>
    <%= render partial: 'memories/index', locals: {memories: @memories} %>
  </div>
</div>
