<div class="container">
  <div id="grid">
    <header id="contentHeader" class="clearfix">
      <h1>Browsing all memories</h1>
      <span class="actions">
        <%= link_to 'Add a memory', new_my_memory_path, :class => "button memories" %>
        <%= link_to 'Browse scrapbooks', scrapbooks_path, :class => "button scrapbooks" %>
      </span>
    </header>

    <%= render partial: 'memories/index', locals: {memories: @memories} %>
  </div>
</div>
