<div class="container">
  <div id="grid">
    <header id="contentHeader" class="clearfix">
      <h1>Browsing all memories</h1>
      <span class="actions">
        <%= link_to 'Browse Scrapbooks', scrapbooks_path %>
      </span>
    </header>

    <%= render partial: 'memories/index', locals: {memories: @memories, root_path: memories_path} %>
  </div>
</div>
