/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets"
@import "bootstrap"


html, body
  overflow-x: hidden

body
  padding-top: 70px

footer
  padding: 10px 0
  text-align: center

a.btn.btn-default.glyphicon.glyphicon-plus
  width: 167px
  height: 167px
  font-size: 48px
  padding-top: 55px
  margin-top: 62px

.asset
  &.thumb
    text-align: center

    h2
      overflow: hidden
      height: 35px

    div
      &.img
        height: 220px
        text-align: center
        line-height: 220px

        img
          vertical-align: middle

      &.footer
        margin: 10px 0

  &.full
    img
      max-width: 100%

input.btn.btn-primary
  float: right
  margin: 0 15px

form
  #error_explanation
    border: 2px solid red
    margin-bottom: 20px

    h2
      font-size: 120%
      color: white
      background: red
      margin: 0
      padding: 0.4em
      margin-bottom: 0.4em

    ul
      padding-left: 1em
      margin-left: 10px

  .field_with_errors
    color: white
    padding: 2px
    background-color: red
/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px)
  .row-offcanvas
    position: relative
    -webkit-transition: all .25s ease-out
    -moz-transition: all .25s ease-out
    transition: all .25s ease-out

  .row-offcanvas-right
    right: 0

  .row-offcanvas-left
    left: 0

  .row-offcanvas-right
  .sidebar-offcanvas
    right: -50% /* 6 columns */

  .row-offcanvas-left
  .sidebar-offcanvas
    left: -50% /* 6 columns */

  .row-offcanvas-right.active
    right: 50% /* 6 columns */

  .row-offcanvas-left.active
    left: 50% /* 6 columns */

  .sidebar-offcanvas
    position: absolute
    top: 0
    width: 50% /* 6 columns */

