/* SCRAPBOOK MODAL */
.scrapbooks.select
  margin-bottom: 30px
  max-height: 140px
  overflow: scroll

  .scrapbook
    margin-bottom: 10px
    padding: 0.4em
    height: 78px

    &.selected
      background-color: black
      background-image: image-url('white-tick.png')
      background-position: right 20px center
      background-repeat: no-repeat
      background-size: 50px
      color: white

    .picture
      float: left
      width: 100px
      height: 67px
      background: lightgrey
      overflow: hidden

      img
        width: 100px
        margin-right: 1em

    .details
      display: inline-block
      margin-left: 10px

      .title
        font-weight: bold


