@import "bourbon"

html, body
  overflow-x: hidden
  background-color: #ccc

.override .mailto.ninja
  // put any override styles in here

body
  padding-top: 70px

footer
  padding: 10px 0
  text-align: center

.alert, .notice
  padding: 15px
  border: 1px solid transparent
  border-radius: 4px
  color: white
  margin: 0 16px 20px 16px

.alert
  background: red

.notice
  background: green

li.greeting
  padding-top: 15px
  color: white

a.rotate
  text-decoration: none

  &#rotate-left:hover
    @include transform(rotate(-30deg))
    @include transition(all 0.5s)

  &#rotate-right:hover
    @include transform(rotate(30deg))
    @include transition(all 0.5s)

/* ==================================== LAYOUT */

.container img
  max-width: 100%
  height: auto


a#add-memory
  width: 150px
  margin-bottom: 10px


a.memory
  color: black
  text-decoration: none

  &:hover
    text-decoration: none

  &.thumb
    text-align: center
    margin: 10px
    background-color: white
    padding: 10px
    display: inline-block
    width: 220px

    div
      &.img
        text-align: center
        background-color: black
        line-height: 200px

        img
          vertical-align: middle
          max-width: 200px

      &.footer
        margin: 10px 0

  &.full
    img
      max-width: 100%

form
  max-width: 750px
  margin: 0 auto
  background-color: white
  padding: 1em

  &#add-memory img, &#edit-memory img
    max-width: 720px
    margin-bottom: 1em

  label
    min-width: 230px

  .actions
    padding-right: 15px
    float: right

    input[type="submit"]
      margin-left: 10px

  .field_with_errors
    color: white
    padding: 2px
    background-color: red

  label.checkbox
    margin-left: 1.3em

  #image-editor
    display: none
    text-align: center
    padding: 10px
    margin-bottom: 0.6em
    background: lightgrey

    .rotate img
      width: 25px
      margin-bottom: 0

/* hides and disables the element */
.hide
  display: none

/* hides the element without disabling it */
.hide-whilst-enabled
  width: 0
  height: 0
  overflow: hidden


/* ==================================== STYLEGUIDE */

body.styleguide
  padding-top: 0

  h1.header
    background: black
    color: white
    padding: 0.2em
    margin: 0

  nav
    background: grey
    padding: 0.4em

    a
      color: white
      margin-right: 1em
      margin-left: 0.4em

  .styles
    margin-bottom: 10px





@media screen and (max-width: 767px)
  form
    background-color: #ccc
    .actions
      width: 100%
      text-align: center

  .col-xs-12.global-asset-actions
    text-align: center

  a.memory
    &.thumb
      margin-left: 50px
      div
        &.img
          line-height: 100%

