@import "bourbon"


$navy-blue:     #35404d
$cream:         #eeece7
$coral:         #e45f56
$light-grey:    #eaebe9
$beige:         #c9ccc1
$teal:          #51b0aa
$blue:          #336699
$green:         #49B18C

$module:        #f0efea

$unmoderated:   #428bca
$approved:      #5cb85c
$rejected:      #d9534f

$error:         #a94442
$required:      #a94442

=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  border-radius:         $radius

=box-shadow($top, $left, $blur, $color, $inset:"")
  -webkit-box-shadow:    $top $left $blur $color #{$inset}
  -moz-box-shadow:       $top $left $blur $color #{$inset}
  box-shadow:            $top $left $blur $color #{$inset}



/* ==================================== BASICS */

html, body
  overflow-x: hidden
  background-color: $light-grey
  font-family: 'Open Sans', sans-serif
  font-size: 16px
  color: $navy-blue



/* ==================================== BUTTONS */

h1 a
  font-size: 14px !important
  padding: 0.25em !important
  position: relative !important
  top: -0.25em !important

a.delete
  background-color: $coral !important

a.underlined
  text-decoration: underline

.button
  background-color: $navy-blue
  border: 1px solid $navy-blue
  text-shadow: 0px 1px 0px $navy-blue
  font-size: 1em
  +border-radius(4px)
  display: inline-block
  padding: 0.5em 1em
  color: white
  text-decoration: none
  text-shadow: 0px 1px 0px darken( $navy-blue, 10% )

  &:hover
    color: white
    text-decoration: none

  &:active
    color: white
    text-decoration: none
    position: relative
    top: 1px

  &.float-right
    margin-left: 0.25em


.button.navy, .button.edit
  background-color: $navy-blue
  border: 1px solid $navy-blue
  text-shadow: 0px 1px 0px $navy-blue
  font-size: 1em

  &:hover
    background-color: darken( $navy-blue, 20% )


.button.green
  background-color: darken( $green, 10% )
  border: 1px solid darken( $green, 20% )
  text-shadow: 0px 1px 0px darken( $green, 20% )

  &:hover
    background-color: darken( $green, 20% )

.button.red, .button.delete
  background-color: $coral
  border: 1px solid darken( $coral, 10% )
  text-shadow: 0px 1px 0px darken( $coral, 20% )

  &:hover
    background-color: darken( $coral, 5% )
    cursor: pointer

.button.purple, .button.scrapbooks
  background-color: $teal
  border: 1px solid darken( $teal, 10% )
  text-shadow: 0px 1px 0px darken( $teal, 20% )

  &:hover
    background-color: darken( $teal, 5% )
    cursor: pointer

.button.white, .button.white
  background-color: white
  color: $navy-blue
  border: 1px solid lighten( $navy-blue, 50% )
  text-shadow: 0px 1px 0px white

  &:hover
    background-color: darken( white, 5% )
    cursor: pointer


.button.teal
  background-color: $teal
  border: 1px solid darken( $teal, 10% )
  text-shadow: 0px 1px 0px darken( $teal, 20% )
  text-decoration: none
  color: white

  &:hover
    background-color: darken( $teal, 5% )


.button.blue, .button.memories
  background-color: $blue
  border: 1px solid darken( $blue, 10% )
  text-shadow: 0px 1px 0px $blue
  text-decoration: none
  color: white

  &:hover
    background-color: darken( $blue, 5% )



.button.inactive
  border: 1px solid #bcc0c1
  border: 1px solid rgba($navy-blue, 0.25)
  background-color: #bcc0c1
  background-color: rgba($navy-blue, 0.25)
  color: $navy-blue
  text-shadow: none

  &.scrapbooks:hover
    background-color: $teal
    border: 1px solid $teal
    color: white

  &.memories:hover
    background-color: $blue
    border: 1px solid  $blue
    color: white


span.button.scrapbooks:hover
  background-color: $teal !important
  cursor: default

span.button.memories:hover
  background-color: $blue !important
  cursor: default



.search-buttons
  min-height: 4em

  ul
    list-style: none
    margin: 0
    padding: 0

    li
      display: inline-block





/* ==================================== PAGINATION */

.memories
  .pagination-container
    text-align: center

    .pagination
      span.disabled
        color: lighten( $blue, 50% )
        background: #eee

        &:hover
          color: lighten( $blue, 50% )

      li
        a
          color: $blue
        span.disabled, &:hover
          color: lighten( $blue, 20% )
          &:hover
            color: lighten( $blue, 20% )

        &.active
          a
            color: white
            background: $blue
            border: 1px solid darken( $blue, 5% )



.scrapbooks
  .pagination-container
    text-align: center

    .pagination
      span.disabled
        color: lighten( $teal, 50% )
        background: #eee

        &:hover
          color: lighten( $teal, 50% )

      li
        a
          color: $teal
        span.disabled, &:hover
          color: lighten( $teal, 20% )
          &:hover
            color: lighten( $teal, 20% )

        &.active
          a
            color: white
            background: $teal
            border: 1px solid darken( $teal, 5% )

/* ==================================== TYPOGRAPHY */

a
  color: $navy-blue

h1, h2, h3
  font-family: 'Open Sans', sans-serif
  font-weight: 600

.back_button
  margin: 1em 0
  display: block
  font-weight: 300

  &:before
    content: "< "

  &:hover
    color: $coral

/* ==================================== HEADER */

header
  position: relative
  margin-top: 1em


  .navbar
    margin-bottom: 0

    .navbar-toggle .icon-bar
      background: $navy-blue

    .navbar-collapse
      float: right
      padding: 0
      position: relative
      right: 0

      ul.nav
        float: right
        position: relative
        margin-top: 0.5em

        li
          margin: 0 1em

          a
            padding: 0.25em 0
            +border-radius(0px)
            border-bottom: 2px solid transparent

            &:hover, &:active
              color: $navy-blue
              background: none
              border-bottom: 2px solid

            &.signin
              padding: 0.25em 0.5em
              border: 1px darken( $green, 10% ) solid
              +border-radius(3px)

              &:hover, &:active
                color: white
                background: darken( $green, 10% )
                border: 1px darken( $green, 10% ) solid


          ul
            padding: 0

            li a
              padding: 10px 15px
              line-height: 20px
              display: block




  #logo
    padding-left: 0
    margin-top: 1.25em
    position: absolute
    bottom: 0

    .navbar-brand
      display: block
      float: none
      height: auto
      position: relative
      padding: 0
      font-size: inherit
      line-height: 100%
      margin-bottom: 0

  #searchwrapper
    background: $navy-blue
    position: relative
    padding: 0.5em
    margin: 0em 0 0 0
    float: right
    // height: 1em

    a
      color: white

      &:hover
        text-decoration: none

    .dropdowns
      display: inline-block
      z-index: 500
      padding: 0

      select
        display: inline
        width: auto
        margin: 0em 0.5em 0em 0

    .searchForm
      padding: 0

      float: right
      text-align: right

      form
        background: none
        margin-bottom: 0
        padding: 0

      input
        display: inline-block
        border: none
        transition: opacity .25s ease-in-out
        -moz-transition: opacity .25s ease-in-out
        -webkit-transition: opacity .25s ease-in-out

        &:focus
          opacity: 1
          outline: 0

      button
        border-color: white





/* ==================================== LAYOUT */

.module
  border: 1px solid $navy-blue
  padding: 1em
  +border-radius(3px)
  background: darken( $cream, 5% )


/* ================= STICKY FOOTER */

html, body
  height: 100%

#wrapper
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -190px

#push
  height: 190px

footer
  height: 190px
  background: $navy-blue
  color: $cream
  padding-top: 1em

  .wrap
    float: left

  ul
    margin: 0
    padding: 0
    li
      display: inline-block

      a
        color:  white
        padding: 1em 1em 1em 0
        display: inline-block

        &:hover
          color: white
          text-decoration: underline

  #councilLogo, #nestaLogo
    float: right
    display: inline-block
    margin: 1.5em 0 0 1.5em

.error-message
  border: 1px solid darken( $coral, 10% )
  color: darken( $coral, 10% )
  padding: 0.6em

.flashes
  .alert, .notice
    padding: 15px
    border: 1px solid transparent
    border-radius: 4px
    color: white
    margin: 16px 0 0 0

    .close
      text-shadow: 0 0 0 white
      margin-top: -2px
      opacity: 1

  .alert
    background: $coral

    .close
      color: white

      &:hover
        color: rgba(white, 0.5)

  .notice
    background: $green

    .close
      color: white

      &:hover
        color: rgba(white, 0.5)


ul.nav.nav-pills
  display: inline-block

  li
    background: #ddd
    border-radius: 0px

    a
      color: $navy-blue
      border-radius: 0px

    &.active a
      background: #333
      color: white

button#create-scrapbook-button
  margin-bottom: 10px

.photo
  padding: 0

/* ==================================== HOME PAGE */

#homeContent
  h1


  #contentModules
    padding: 2em 0 0 0


    h2

    h3

    a.button
      width: 100%
      margin-bottom: 0.5em
      font-size: 1.25em
      text-align: center

    img
      border: 1px solid #ccc
      +border-radius(3px)
      margin-bottom: 0
      padding: 5px
      background: white



      a.signin
        font-size: 0.8em

      p
        margin: 0

  #featuredScrapbook
    border: 1px solid $navy-blue
    +border-radius(3px)
    padding-bottom: 1em
    background: lighten( $cream, 5% )
    margin: 2em 0

    .scrapbookInfo
      padding-top: 1em

      h3
        text-transform: uppercase
        font-size: 1em
        border-bottom: 1px solid
        padding-bottom: 0.25em
        display: inline-block

      h2
        font-weight: 600
        margin: 0 0 1em 0
        font-size: 27px

    #scrapbookImages
      padding-top: 1em
      .item
        width: 23%
        margin-bottom: 1%

        img
          border: 1px solid #cccccc
          border-radius: 3px
          margin-bottom: 0
          padding: 5px
          background: white




/* ==================================== BROWSE */


#contentHeader
  padding: 2em 0

  h1, h2
    margin: 0
    text-align: center
    span
      display: block
      font-size: 0.8em
      font-weight: 300

  div.actions
    margin: 2em 0 0 0
    padding: 1em 0
    border-top: $navy-blue 1px solid
    border-bottom: $navy-blue 1px solid

    .viewingInfo
      display: inline-block

      strong
        padding-right: 0.25em

      a.scrapbooks, span.scrapbooks
        +border-radius(0 3px 3px 0)
        position: relative
        left: -5px

      span.memories, a.memories
        +border-radius(3px 0 0 3px)

      a:active, span:active
        top: 0
        text-decoration: none

  a.add-memories:hover, a.add-memories.active
    background-color: $navy-blue
    border-color: $navy-blue
    color: white
    text-decoration: none
    text-shadow: 0px 1px 0px $navy-blue

  #addMemoriesDrawer
    display: none
    text-align: center
    background: $navy-blue
    padding: 1em
    position: relative

    #tab
      background: $navy-blue
      width: 100px
      height: 20px
      display: block
      position: absolute
      top: -20px
      right: 0
    a
      padding: 1em
      background: $cream
      border: 1px solid $navy-blue
      +border-radius(10px)
      width: 30%
      display: inline-block
      margin: 0 1%
      img
        display:block
        margin: 1em auto
      span
        display: block


/* ==================================== MEMORIES */

.memory.full

  header
    margin-bottom: 1em

    .userAvatar
      float: left
      margin-right: 1em

  .photo
    margin-bottom: 1em

    img
      margin-bottom: 1em

  .memory-meta
    background-color: $navy-blue
    color: $cream
    padding: 1em

    p.saved, p.views
      text-align: center

      #scrapbook-count
        font-weight: bold

    .buttons
      text-align: center
      display: block

      a
        margin: 0.25em
        display: inline-block


a#add-memory-button
  width: 150px
  margin-bottom: 1px


a.memory, a.scrapbook
  text-decoration: none

  &:hover
    text-decoration: none

.memory, .scrapbook
  button.remove-memory
    display: inline-block
  button.undo-remove
    display: none

  &.thumb


    div
      &.img, &.button
        text-align: center
        padding: 0.5em

      &.button
        span.glyphicon.glyphicon-plus
          font-size: 128px
          vertical-align: middle

      &.detail
        margin: 0 0px 0px 0px

        h3
          font-size: 20px
          margin: 0.5em 0 0 0

        p
          margin: 10px 0 0 0

  &.add.memory
    text-align: center

    span
      padding: 50px
      background: $blue
      font-size: 7em
      width: 100%
      display: block
      color: white

      &:hover
        background: darken( $blue, 5% )



  &.full
    img
      max-width: 100%

  &.deleted
    button.remove-memory
      display: none
    button.undo-remove
      display: inline-block

  &.moderation
    text-align: left
    padding: 0.4em
    vertical-align: top

    .actions, .details, .info, .media
      display: inline-block
      vertical-align: top

    .actions
      margin-top: 10px
      background: #aaa
      padding:  10px

      ul
        padding-left: 0

      li
        list-style: none
        margin-bottom: 5px

      a.btn
        width: 150px

    .details
      border: 5px solid #aaa
      background: white
      margin-top: 10px
      margin-left: -3px

    .info
      width: 500px
      padding: 0.4em

.no-results
  text-align: center
  margin-bottom: 4em

/* ==================================== MASONRY STUFF */

.masonry-loading-spinner
  position: relative
  margin-bottom: 2em

  .spinner
    height: 100px

.memory-container, .scrapbooks-container
  display: none

.masonry-grid
  margin: 0 auto

  .grid-sizer
    width: 25%

  .masonry
    width: 25%
    margin-bottom: 0

    .padding
      margin: 0.5em 0.5em 1em
      background: white
      padding: 1em

      img
        border: 1px solid #ccc
        +border-radius(3px)
        margin-bottom: 0
        padding: 2px

    .detail
      margin: 0 10px 10px 10px

    h3.scrapbookTitle
      margin-top: 0

    .empty
      display: block
      text-align: center
      border: 1px solid #ccc
      +border-radius(3px)
      padding: 2em 2px

      img
        border: none
      h4
        margin: 1em 0 0 0
        font-style: italic
        color: lighten( $navy-blue, 30% )


    .bottom-row

      .count
        width: 32%
        +border-radius(3px)
        display: inline-block
        background: $blue
        color: white
        text-align: center
        height: 75px
        top: 10px
        position: relative
        font-size: 0.8em

        span
          display: block
          font-weight: 700
          font-size: 2em
          position: relative
          top: 5px

      img
        width: 32%



/* ==================================== SCRAPBOOKS */

#scrapbooks, #scrapbook

  #description
    text-align: center
    font-style: italic
    font-size: 1.5em
    padding: 0 0 1em 0

  .masonry
    width: 33.33%
    margin-bottom: 0


#editScrapbook
  float: right

  .memory
    margin-bottom: 1em
    img
      width: 100%
      float: left


/* ==================================== PROFILE */

#profileHeader
  margin: 2em 0 0 0
  text-align: center


  #userContent
    float: right
    display: table
    position: relative
    right: -15px

    div
      display: table-cell
      text-align: center
      vertical-align: middle

      a
        display: block
        padding: 1.5em 0

        span
          font-size: 1.5em
          font-weight: 600

      &.active
        background: $navy-blue
        a
          color: white

      &:hover
        text-decoration: none
        pointer: default !important

      span
        display: block

.memories #userMemories a:hover, .scrapbook #userScrapbooks a:hover
  text-decoration: none
  pointer: auto

.memories #userScrapbooks a:hover, .scrapbook #userMemories a:hover
  background: $teal
  text-decoration: none
  color: white


.profile, .user-card
  .details
    background: none !important




/* ==================================== FORMS */

#formHeader
  padding: 0em 0 2em 0
  text-align: center
  text-transform: uppercase

  .step > span
    background: $navy-blue
    color: white
    margin-right: 0.25em
    padding: 0.25em 0.75em
    +border-radius(50%)

  .step1
    text-align: left

  .step3
    text-align: right


.formWrapper
  background: white
  margin: 0 0 2em 0

  #formPanel
    background: #d9dbd7

    select
      width: auto

    .check_boxes
      display: block
      padding-bottom: 0

      .checkbox
        display: inline-block
        width: 40%
        font-weight: 400




form
  background-color: transparent !important
  margin: 0 0 0 0 !important
  padding: 1em
  position: relative

  label
    text-align: left !important

form, .form-title
  max-width: 750px

form
  background-color: white

  &.minimal
    padding: 0

  // &#add-memory img, &#edit-memory img
  //   max-width: 720px
  //   margin-bottom: 1em

  .form-group
    &[aria-required="true"]
      label
        &:not(.sub-label)
          &:after
            margin-left: 5px
            content: "*"
            color: $required

    textarea.form-control
      height: 10em

  label
    min-width: 230px

    &.control-label
      padding-right: 5px

    &.collection_radio_buttons
      min-width: 10px
      margin: 0.4em 0.6em

    &.checkbox
      margin-left: 1.3em

  .actions
    border-top: 1px solid $navy-blue
    padding-top: 1em
    width: 100%
    text-align: right
    margin-top: 1em

    input[type="submit"]
      margin-left: 10px

  .field_with_errors, span.help-block
    color: $error
    padding: 2px

    input, select
      border-color: $error

  p.error-text
    margin-left: -15px
    color: $error

  #image-editor
    display: none
    background: lightgrey
    margin-left: -15px
    margin-right: -15px
    margin-bottom: 0.6em

    #image-area
      text-align: center
      padding: 50px 10px
      overflow: hidden

      #image-rotation-box
        width: 350px
        height: 350px
        line-height: 350px
        margin: 0 auto
        position: relative
        @include transform(rotate(0deg))
        @include transition(all 0.5s)

        &.rotate90
          @include transform(rotate(90deg))

        &.rotate180
          @include transform(rotate(180deg))

        &.rotate270
          @include transform(rotate(270deg))

        &.rotate-90
          @include transform(rotate(-90deg))

        &.rotate-180
          @include transform(rotate(-180deg))

        &.rotate-270
          @include transform(rotate(-270deg))

        img.image
          max-width: 100%
          max-height: 100%
          vertical-align: middle


    .controls
      padding: 0.4em
      background: darkgrey
      text-align: center

      a.rotate
        text-decoration: none

        &#rotate-left:hover
          img
            @include transform(rotate(-30deg))

        &#rotate-right:hover
          img
            @include transform(rotate(30deg))

        img
          width: 25px
          margin-bottom: 0

  .info
    font-style: italic

  .form-group
    &.t_and_c
      margin-top: 2em

      .field_with_errors
        display: inline-block

  div.tagsinput
    +border-radius(4px)

    span.tag
      border-color: #2e6da4
      background-color: #337ab7
      color: white

.modal
  form
    label
      min-width: 180px

/* ==================================== SIGN IN / SIGN OUT */

#signIn, #signUp

  h1
    text-align: center
  form
    label
      text-align: left!important

  p.switch
    font-weight: 600
    text-align: center

  #user_is_group
    text-align: left



/* ==================================== MESSAGES */

li.greeting
  padding-top: 15px
  color: white

.navbar-inverse .navbar-nav > li.greeting > a
  margin: 0
  padding: 0
  color: white

  &:hover
    color: #777777


/* ==================================== MISC */

.float-right
  float: right

.container img
  max-width: 100%
  height: auto


.override .mailto.ninja
  // put any override styles in here

/* hides and disables the element */
.hide
  display: none

/* hides the element without disabling it */
.hide-whilst-enabled
  width: 0
  height: 0
  overflow: hidden

.float-left
  float: left
.float-right
  float: right

.not-implemented
  display: none !important

.exception
  text-align: center
  margin: 5em 0


/* ==================================== STATIC */

.static
  margin: 2em 0
  background: #d9dbd7

  #staticText
    background: white
    padding-bottom: 1em

  #staticOther


  h1
    margin: 1em 0

  a
    text-decoration: underline

  nav
    ul
      list-style: none

#contactPage
  section
    padding: 0 0 1em 0

    p
      margin-bottom: 0


/* ==================================== ADMIN */

.options
  margin-top: 3em

table.items
  background-color: cornsilk
  text-align: left

  thead
    background-color: black
    color: white

  td
    &.approved, &.rejected
      color: white

    &.approved
      background-color: $approved

    &.rejected
      background-color: $rejected

.btn
  &.unmoderate, &.approve, &.reject
    color: white

  &.unmoderate
    background-color: $unmoderated
    border-color: darken($unmoderated, 5)

    &:hover
      background-color: darken($unmoderated, 5)
      border-color: darken($unmoderated, 10)

  &.approve
    background-color: $approved
    border-color: darken($approved, 5)

    &:hover
      background-color: darken($approved, 5)
      border-color: darken($approved, 10)

  &.reject
    background-color: $rejected
    border-color: darken($rejected, 5)

    &:hover
      background-color: darken($rejected, 5)
      border-color: darken($rejected, 10)


.state
  text-align: center
  font-size: 1.2em
  font-weight: 600
  font-variant: small-caps
  position: relative
  top: -0.5em

  span
    position: relative
    top: 0.25em

  &.unmoderated
    color: $coral

  &.approved
    background-color: $approved

  &.rejected
    background-color: $rejected
    color: white
    padding: 0.2em

ul.admin-toolbar
  list-style: none
  display: inline-block
  margin: 0
  padding: 0.4em
  width: 100%

  li.state
    margin-bottom: 0

  ul.moderation-actions
    list-style: none
    display: inline-block
    background: whitesmoke
    margin: 0
    padding: 0.4em
    width: 100%

    li
      float: left
      margin-right: 10px

      .btn-disabled
        border: 1px solid #ccc
        border-bottom: -1px
        color: #ccc



/* ==================================== BETA */

.beta
  font-size: smaller
  margin: 0 3px

.user-card
  .details
    background: white
    padding-bottom: 1em

  .actions
    a
      float: right
      margin: 10px 0

    &:hover
      background: $teal
      color: white
      text-decoration: none

a.feedback
  display: block
  background: $coral
  color: #fff
  text-decoration: none

  &.desktop
    transform: rotate(-90deg)
    -webkit-transform: rotate(-90deg)
    -moz-transform: rotate(-90deg)
    -o-transform: rotate(-90deg)
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3)
    -ms-transform: rotate(-180deg)
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=3.061616997868383e-16, M12=1, M21=-1, M22=3.061616997868383e-16, SizingMethod='auto expand')"
    position: fixed
    left: -33px
    top: 40%
    z-index: 1000
    height: 40px
    width: 105px
    padding: 8px 16px
    border: solid 1px darken( $coral, 20% )
    border-top: 0

    &:hover
      background: $green
      border: solid 1px darken( $green, 20% )
      border-top: 0

header .navbar .navbar-collapse ul.nav li a.feedback
  border-radius: 4px
  padding-right: 0.6em
  margin-top: 0.3em



/* ==================================== HELP TIPS */

.help-tips

  .required
    color: $required




@media screen and (max-width: 767px)

  .desktop
    display: none !important


  header
    margin-top: 0
    top: 0


    #logo
      margin-top: 1em
      position: relative
      margin-bottom: 1em
      padding: 0

      .navbar-brand
        float: none

        img
          margin: 0 auto
          max-width: 80px

    .navbar
      margin-bottom: 0
      position: absolute
      right: 0
      width: 100%
      z-index: 300

      .container
        padding: 0

      .navbar-header.open
        background: $navy-blue
        .navbar-toggle .icon-bar
          background: $cream

      .navbar-collapse
        background: $navy-blue
        right: auto
        width: 100%
        text-align: right
        padding-right: 15px
        margin: 0

        a
          color: white !important

          &:hover
            background: inherit

    #searchwrapper
      margin-top: 0em

  .module
    margin-bottom: 2em



  h1
    font-size: 28px

  h2
    font-size: 24px
    text-align: center
    margin-top: 0

  a.feedback.btn.btn-primary
    width: 100%
    margin: 10px 0

  .dropdowns
    a
      display: block

    select
      margin: 0

  form
    background-color: #ccc

    #image-editor
      #image-area
        #image-rotation-box
          width: 230px
          height: 230px
          line-height: 230px

    &.minimal
      background-color: #fff

    .actions
      width: 100%
      text-align: center
      margin-top: 15px

      .btn
        margin-bottom: 5px
        display: block

      input[type="submit"]
        width: 100%
        margin-left: 0

      // a.btn
      //   margin-left: 10px
      //   margin-right: -11px

  .col-xs-12.global-asset-actions
    text-align: center

  .photo
    margin-top: 10px

  .global-memory-actions
    text-align: center

    a#add-memory
      width: 80%

  a.memory
    &.thumb
      width: 290px
      margin: 0 auto
      margin-bottom: 1.5em
      div
        &.img
          line-height: 100%

  #scrapbooks .masonry, #scrapbook .masonry
    &.thumb
      width: 24%
      margin: 0 auto
      margin-bottom: 1%
      div
        &.img
          line-height: 100%

  .user-card
    .details
      h1
        text-align: left

    .actions
      a
        width: 100%
        margin: 10px 0

  #scrapbook
    #contentHeader
      .actions
        .float-right
          display: inline-block



  #contentHeader
    text-align: center

    h1
      margin-bottom: 0.5em

    span.actions
      float: none

  .formWrapper
    h1
      margin-top: 0
      padding-top: 20px

    h2
      padding: 1em 0 0 0
    #infoPanel
      display: none

    .check_boxes .checkbox
      width: 100% !important

  .actions
    .viewingInfo
      display: block
      padding-bottom: 1em

      a, span
        padding: 0.25em 0.5em

    a.float-right
      float: none
      display: block

  footer
    height: auto
    text-align: center
    padding-bottom: 2em

    .wrap
      padding-bottom: 2em

    ul
      margin-bottom: 2em

      li
        display: block
        a
          padding: 0.5em

    #councilLogo
      margin-right: 1em

    #councilLogo, #nestaLogo
      float: none
      margin-left: 0
      display: inline

      img
        width: 40%


  /* Home Page */
  #featuredScrapbook
    text-align: center
    padding: 0 1em 1em 0


    #scrapbookImages
      padding: 1em 0!important
      .item
        width: 47% !important
        margin-bottom: 0 !important


/* Medium devices */

@media (min-width: 768px)

  .mobile
    display: none !important

  #grid > #memories .memory
    width: 320px

  .memory img
    padding: 0

  header
    .navbar .navbar-collapse ul.nav li.profile
      margin: 0 !important

  .navbar-nav
    li.profile
      position: relative
      margin: 0 !important

      & > a
        padding: 0.25em 1em 0.25em 1em !important
        +border-radius(4px)

      ul
        position: absolute
        right: 0
        width: 160px
        text-align: right
        background: $navy-blue
        z-index: 100
        padding: 0.5em 0 0.5em 0 !important
        list-style: none
        +border-radius(4px 0 4px 4px)
        display: none

        li
          margin: 0 !important
          padding: 0.25em 1em !important

          a
            color: $cream
            padding: 0 !important
            border-bottom: none !important


      &:hover
        background: $navy-blue
        a
          color: $cream !important
          border-bottom: none !important

        ul
          display: block

  .navbar #searchwrapper .searchForm input
    width: 100%



/* Large devices min-width (1200px) + a .memory margin (50px) * 2 (100px) = 1300px */


@media (min-width: 1300px)
  #grid
    position: relative

  #grid.container
    left: auto
    padding-left: 15px
    padding-right: 15px



/* IE 8 */
.ie8
  .feedback
    left: 0px !important

/* IE 9 */
.ie9
  .feedback
    left: -70px !important
