html, body
  overflow-x: hidden
  background-color: #ccc

body
  padding-top: 70px

footer
  padding: 10px 0
  text-align: center

a#add-asset
  width: 150px
  margin-bottom: 10px


a.asset
  color: black
  text-decoration: none

  &:hover
    text-decoration: none

  &.thumb
    text-align: center
    margin: 10px
    background-color: white
    padding: 10px
    display: inline-block
    width: 220px

    div
      &.img
        text-align: center
        background-color: black
        line-height: 200px

        img
          vertical-align: middle
          max-width: 200px

      &.footer
        margin: 10px 0

  &.full
    img
      max-width: 100%

form
  max-width: 750px
  margin: 0 auto
  background-color: white
  padding: 1em

  label
    min-width: 230px

  .actions
    padding-right: 15px
    float: right

    input[type="submit"]
      margin-left: 10px

  .required label:after
    content: "*"
    color: red
    padding-left: 5px

  #error_explanation
    border: 2px solid red
    margin-bottom: 20px

    h2
      font-size: 120%
      color: white
      background: red
      margin: 0
      padding: 0.4em
      margin-bottom: 0.4em

    ul
      padding-left: 1em
      margin-left: 10px

  .field_with_errors
    color: white
    padding: 2px
    background-color: red

@media screen and (max-width: 767px)
  form
    background-color: #ccc
    .actions
      width: 100%
      text-align: center

  .col-xs-12.global-asset-actions
    text-align: center

  a.asset
    &.thumb
      margin-left: 50px
      div
        &.img
          line-height: 100%

