<div id="image-editor">
  <%= form.hidden_field :rotation %>
  <div id="image-area">
    <div id="image-rotation-box">
      <img title="uploaded image" class="image" src="<%= uploaded_image_url %>" alt="auploaded image" />
    </div>
  </div>
  <div class="controls">
    <a class="rotate" id="rotate-left">
      <span class="accessible-label">Rotate anti-clockwise</span>
      <%= image_tag 'rotate_ac.png' %>
    </a>
    <a class="rotate" id="rotate-right">
      <span class="accessible-label">Rotate clockwise</span>
      <%= image_tag 'rotate_c.png' %>
    </a>
  </div>
</div>
