<div id="image-editor" class="square">
  <section id="image-area">
    <div id="image-rotation-box">
      <img title="uploaded image" class="image" src="<%= uploaded_image_url %>" alt="auploaded image" />
    </div>
  </section>
  <footer>
    <div class="controls">
      <a class="rotate" id="rotate-left">
        <span class="accessible-label">Rotate anti-clockwise</span>
        <span class="glyphicon glyphicon-repeat mirror"></span>
      </a>
      <a class="rotate" id="rotate-right">
        <span class="accessible-label">Rotate clockwise</span>
        <span class="glyphicon glyphicon-repeat"></span>
      </a>
      <%= form.hidden_field :image_angle %>
    </div>
  </footer>
</div>
