<div class="modal fade" id="save-prompt" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Save memory</h4>
      </div>
      <div class="modal-body">
        <p>
          Your memory will now be uploaded and sent for moderation.
          You can view the current status on the My Collection memory page.
        </p>
        <p>Would you like to add another memory just now?</p>
      </div>
      <div class="modal-footer">
        <button class="save btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="yes" class="save btn btn-primary" data-dismiss="modal">Yes please</button>
        <button id="no" class="save btn btn-primary" data-dismiss="modal">That's all for now thanks</button>
      </div>
    </div>
  </div>
</div>

