<div class="container">
  <div class="">
    <%= link_to 'Add New', new_my_memory_path, id: 'add-memory', class: 'btn btn-primary', role: 'button' %>
  </div>
  <div id="grid">
    <ul class="nav nav-pills">
      <li class="active"><%= link_to 'Memories', my_memories_path %></li>
      <li><%= link_to 'Scrapbooks', my_scrapbooks_path %></li>
    </ul>
    <div id="memories">
      <% @memories.each do |memory| %>
        <%= render partial: 'memories/memory_thumb', locals: {memory: memory, link_path: my_memory_path(memory.id)} %>
      <% end %>
    </div>
  </div>
</div>

