<div class="container profile memories">
  <%= render partial: 'shared/profile_header' %>

  <div id="grid">
    <header id="contentHeader" class="clearfix">
      <h2>Browsing your memories</h2>
      <span class="actions">
        <%= link_to 'Add a memory', new_my_memory_path, :class => "button memories" %>
        <%= link_to 'Browse your Scrapbooks', my_scrapbooks_path, :class => "button scrapbooks" %>
      </span>
    </header>

    <%= render partial: 'memories/index', locals: {memories: @memories, show_inline_add: true} %>
  </div>
</div>
