<div class="container profile memories">
  <header id="profileHeader" class="clearfix">

    <div class="wrapper col-md-9">
    <a href="#" class="userAvatar"><img src="http://placehold.it/72x72/ffffff/000000" alt="username" /></a>
    <h1 class="title">User Screen Name
      <%= link_to 'Edit', my_profile_edit_path, class: 'btn btn-primary' %>
    </h1>
    <p class="sub">User bio/description goes here</p>
    </div>

    <div id="userContent" class="col-md-3">
     <div id="userMemories" class="active">
      <a href=""> <span>XX</span> Memories</a>
     </div>
     <div id="userScrapbooks">
      <a href=""> <span>XX</span> Scrapbooks</a>
     </div>
    </div>
  </header>
  <div id="grid">

  <header id="contentHeader" class="clearfix">
   <h1>Browsing XXXX's memories</h1>
   <span class="actions">
   <%= link_to 'Browse XXXXs Scrapbooks', my_scrapbooks_path %>
   </span>
  </header>

    <div id="memories" class="masonry-grid">
      <% @memories.each do |memory| %>
        <%= render partial: 'memories/memory_thumb', locals: {memory: memory, link_path: my_memory_path(memory.id)} %>
      <% end %>
    </div>
  </div>
</div>

