<div id="memories" class="container profile memories">
  <%= render partial: 'shared/profile_header' %>

  <div id="grid">
    <header id="contentHeader" class="clearfix">
      <h2>Your memories</h2>
      <div class="actions clearfix">
       <div class="viewingInfo">
       <strong>Browse</strong>
        <span class="button memories">999 Memories</span>

        <%= link_to my_scrapbooks_path, :class => "button scrapbooks inactive" do %>
          999 Scrapbooks
        <% end %>
      </div>

        <%= link_to 'Add a memory', new_my_memory_path, :class => "button float-right memories" %>
      </div>
    </header>

    <%= render partial: 'memories/index', locals: {memories: @memories, show_inline_add: true} %>


  </div>
</div>
