.container-fluid
  .col-xs-12.global-memory-actions
    = link_to 'Add New', new_my_memory_path, id: 'add-memory', class: 'btn btn-primary', role: 'button'
  .row
    .memories
      - @memories.each do |memory|
        %a.memory.thumb(data-id="#{memory.id}" href="#{my_memory_url(memory.id)}" title="View details" role="button")
          %div.img
            %img{src: cache_busted_url(memory, :thumb), alt: memory.title}
          %div.footer
            %p.title= memory.title
