<img id="memory_source" src="assets/test.jpg" />

<form accept-charset="UTF-8" action="http://localhost:3000/my/memories" class="simple_form form-horizontal" enctype="multipart/form-data" id="add-memory" method="post" novalidate="novalidate" role="form">
  <div style="display:none">
    <input name="utf8" type="hidden" value="&#x2713;" />
    <input name="authenticity_token" type="hidden" value="ZtvW5V4laT6H/BZ1QjATWB+UqaDTw0GgtV2DmxpEU2E=" />
  </div>
  <div class="form-group select required memory_type">
    <div class="col-sm-4">
      <label class="select required control-label" for="memory_type">
        <abbr title="required">*</abbr>
        What would you like to add?
      </label>
    </div>
    <div class="col-sm-8">
      <select class="select required form-control" id="memory_type" name="memory[type]">
        <option value=""></option>
        <option value="Photo">Photo</option>
      </select>
    </div>
  </div>
  <div class="form-group file required memory_source">
    <div class="col-sm-4">
      <label class="file required control-label" for="file-upload">
        <abbr title="required">*</abbr>
        Please select a file
      </label>
    </div>
    <div class="col-sm-8">
      <input class="file required" id="file-upload" name="memory[source]" type="file" />
    </div>
  </div>
  <div id='image-editor'></div>
</form>
