%form
  .form-group.required
    %label Text Test
    %input.form-control{type: "text", value: "Filled in"}
  .form-group.required
    %label Date Test
    %input.form-control{type: "date", value: "2014-05-04"}
  .form-group.required
    %label Select Test
    %select.form-control
      %option
      %option{selected: true} Hello
      %option World
  .form-group.required
    %label Textarea Test
    %textarea.form-control I am filled in
  .form-group.check_boxes.required
    %label.check_boxes.required.control-label
      %abbr(title="required") *
      Categories
    %label.checkbox
      %input.check_boxes.required#memory_category_ids_1(name="memory[category_ids][]" type="checkbox" value="1" checked="checked")
      Animals
    %label.checkbox
      %input.check_boxes.required#memory_category_ids_2(name="memory[category_ids][]" type="checkbox" value="2")
      Architecture
    %input(name="memory[category_ids][]" type="hidden" value="")
  .form-group
    %label Not Required Test
    %input.form-control{type: "text"}
  .form-group
    %input{type: "submit", disabled: true}
