%form
  .row.required
    %label Text Test
    %input{type: "text", value: "Filled in"}
  .row.required
    %label Date Test
    %input{type: "date", value: "2014-05-04"}
  .row.required
    %label Select Test
    %select
      %option
      %option{selected: true} Hello
      %option World
  .row.required
    %label Textarea Test
    %textarea I am filled in
  .row
    %label Not Required Test
    %input{type: "text"}
  .row
    %input{type: "submit", disabled: true}
