<div class="container <%= action_name %>">
  <%= render 'admin/shared/tabs', active_tab: :moderation %>
  <%= render 'admin/moderation/index', presenter: ModerationListPresenter.new(@items, 'memories', action_name) %>
</div>
