<div class="container">
  <%= render 'admin/shared/tabs', active_tab: :moderation %>
  <%= render partial: 'admin/moderation/moderation_panel',
              locals: {moderatable: @memory, moderatable_name: 'memory', list_path: current_memory_index_path} %>

  <%= render partial: 'memories/memory', object: @memory %>
</div>
