$('span.help-block').remove();
<% @scrapbook.errors.each do |field, messages| -%>
  $('#scrapbook_' + '<%= field %>').closest('.form-group').addClass('field_with_errors').append('<span class="help-block"><%=j messages %></span>')
<% end -%>
