<div class="container-fluid">
  <button id="create-scrapbook-button" class="btn btn-primary" data-toggle="modal" data-target="#create-scrapbook-modal">
    Create a new scrapbook
  </button>
  <div class="row">
    <ul class="nav nav-pills">
      <li><%= link_to 'Memories', my_memories_path %></li>
      <li class="active"><%= link_to 'Scrapbooks', my_scrapbooks_path %></li>
    </ul>
    <div class="scrapbooks">
      <%= render partial: 'scrapbooks/scrapbook', collection: @scrapbooks %>
    </div>
  </div>
</div>

<%= render partial: 'memories/create_scrapbook' %>

<script type="text/javascript">
  var createScrapbookController = new CreateScrapbookController(function (e, data, status, xhr) {
    window.location = '/my/scrapbooks/' + data.id
  });
</script>
