<div class="container profile scrapbook">
  <%= render partial: 'shared/profile_header' %>

  <div id="grid">
    <header id="contentHeader" class="clearfix">
      <h2>Your scrapbooks</h2>
      <span class="actions">
        <a id="create-scrapbook-button" class="button scrapbooks" data-toggle="modal" data-target="#create-scrapbook-modal">
          Create a scrapbook
        </a>
        <%= link_to 'Browse your memories', my_memories_path, :class => "button memories" %>
      </span>
    </header>

    <%= render partial: 'scrapbooks/index', locals: {scrapbooks: @scrapbooks} %>
  </div>
</div>

<%= render partial: 'memories/create_scrapbook' %>

<script type="text/javascript">
  var createScrapbookController = new CreateScrapbookController(function (e, data, status, xhr) {
    window.location = '/my/scrapbooks/' + data.id
  });
</script>
