!!!
%html
  %head
    %title Memphis
    = stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track' => true)
    = javascript_include_tag('application', 'data-turbolinks-track' => true)
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top.navbar-inverse(role="navigation")
      .container
        .navbar-header
          %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand(href="#") Project name
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.active
              %a(href="#") Home
            %li
              %a(href="#about") About
            %li
              %a(href="#contact") Help & Tutorials

    .container
      .row.row-offcanvas.row-offcanvas-left

        .col-xs-6.col-sm-3.sidebar-offcanvas(id="sidebar" role="navigation")
          .jumbotron
            %p Hello, Alan

        .col-xs-12.col-sm-9
          = yield

      %hr

      %footer
        %p &copy; Company 2014


