<!DOCTYPE html>
<html>
<head>
  <title>Edinburgh Stories</title>
  <meta content='width=device-width, initial-scale=1' name='viewport'>
  <%= stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track' => true) %>

  <%= javascript_include_tag('application', 'data-turbolinks-track' => true) %>
  <%= csrf_meta_tags %>
</head>
<body class="styleguide">
  <h1 class="header">Styleguide</h1>

  <nav>
    <a href="/styleguide/blocks">Blocks</a>
    <a href="/styleguide/elements">Elements</a>
  </nav>

  <div class="container-fluid">
    <%= yield %>
  </div

  <div class='container-fluid'>
    <footer>
      <p>&copy; The City of Edinburgh Council 2014</p>
    </footer>
  </div>
  <script src='//cdn.mailto.ninja/js/v0/mailto.ninja.js' type='text/javascript'></script>
  <script type='text/javascript'>
    mailto.ninja({ showOnMobile: true })
  </script>
</body>